[2017-06-10 06:02] urien opened #30 "[CAVE NETWORK PAGE]"
A partir de la page existante
https://grottocenter.org/ui/caves/75496
Changer le texte Visible Entries par Network entries et afficher dans la liste le nom des entrées associées à cette cave. en cliquant sur le nom on ouvre une nouvelle fenêtre correspondant à la page de l'entrance correspondante
Supprimer les champs dans la partie de droite de la fenêtre : actuellement aucun contenu détaillé n'es

[2017-06-15 07:29] Kurdty opened #23 "[TEST] Setup tests"
Actions:
- Install and setup JEST framework
- Add a test for each existing pure components
- Create a new issue each time you encounter a component that should be splitted in simpler (pure?) components
- Write a documentation to share the way a component must be tested

To be done ASAP

[2018-03-18 13:42] Kurdty opened #271 "[DEV PAGE] Add a "development overview" page"
Page to present:
- Current version and a link to release note
- In progress version, number of issues todo / done  and a link to the future release note
- A dynamic (ajax) table with all the older release notes

We must use GitHub API

[2018-03-24 06:50] urien opened #49 "[MAP] Smart url"
Il serait intéressant que nous ayons des adresses simples pour afficher des élèments sur la carte

grottocenter.org/ui/map/entrance=54896
permettrait d'afficher une entrée sur la carte

grottocenter.org/ui/map/system=548
permettrait d'afficher toutes les cavités d'un réseau

grottocenter.org/ui/map/range=852
permettrait d'afficher les cavités d'un massif

grottocenter.org/ui/map/group=987456
perme

[2018-04-06 06:39] Kurdty opened #45 "[CONFIG] Explode config file into more specific files"
Config: for real configuration constants
Links: for external and internal links constants
API: for API paths constants

[2018-09-10 19:01] urien opened #270 "[HOME PAGE] Add a "Submit your ideas" button"
Sur proposition de membres du CA il est proposé de rajouter un bouton en page d'accueil
![image](https://user-images.githubusercontent.com/1165144/45318244-94910f80-b53c-11e8-96ef-be2e675f389c.png)
Ceci n'étant qu'une proposition de localisation, le bouuton devant s'intégrer dans la charte graphique !

[2020-04-24 08:36] urien opened #257 "[ADV SEARCH] Use logarithmic range selectors"
Pour gérer le développement des cavités recherchées nous disposons d'un curseur qui permet de choisir les 2 bornes entre lesquelles doit se trouver le résultat. Comme la longueur peut être comprise entre 0 et 700000 il est très difficile de faire un choix dans les limites habituelles (10, 100 ou 1000) qui sont difficile d’accès
![2020-04-24 (1)](https://user-images.githubusercontent.com/1165144/80

[2020-05-08 12:00] Ospeleo opened #267 "[APP BAR] Improve layout depending on the device"
la bande marron du haut n’apporte pas grand chose et fait perde de la place au contenu utile.

elle est utile en haut de page, mais il est rare qu’on ait à changer de langue ou se connecter en milieu de consultation d’une page.
par ailleur l’icone « home » est accessible via le menu hamburger

elle pourrait défiler en meme temps que la page pour laisser plus de place au contenu utile

le menu hamb

[2020-05-08 12:03] Ospeleo opened #259 "[ADV SEARCH] Nombre de resultats non-visibles sur mobile + ajuster pagination"
testé ce matin (après déploiement):

Sur mobile (grand iphone)
- Je ne vois pas où le nombre de résultat d’une requete est affiché. je ne sais pas s’il y a 10, 50 ou 200 résultats. Le nombre est "hors ecran". Sur PC, c'est bon

- il y a la possibilité d’afficher 5 , 10 ou 20 résultats par page. on pourrait proposer plutot 5, 10, 100 (en cas de recherche desktop)

- il serait bien d'avoir la possib

[2020-05-08 12:04] Ospeleo opened #258 "[ADV SEARCH] Permettre le retour vers la recherche précédente"
(probleme important)
		si je fait une recheche sur A, puis une recherche sur B, si je fais « back », mon navigateur ne retourne pas sur A, mais sur la page d’accueil, perdant ainsi mes recherches précédentes.

[2020-05-08 14:54] bsoufflet commented on #258
La solution serait de changer le fonctionnement de la recherche en modifiant l'URL de la page en fonction de ce qui est recherché et de l'inscrire via javascript dans l'historique du navigateur. AInsi on pourrait également facilement partager une recherche avec quelqu'un en copiant collant l'URL !

[2020-05-08 17:13] Ospeleo opened #325 "[ADV SEARCH] Recherche complexe"
A discuter:
- Je trouve l'interface recherche BBS redontante.

Les deux options "rechercher partout" et "rechercher sur des champs spécifiques" prennent de la place à l'écran; les cases "rechercher et "renitialiser" sont communes aux deux blocs et pourraient être déplacées dessous.

Les deux options "rechercher partout" et "rechercher sur des champs spécifiques" sont presque identiques et pourraie

[2020-05-11 04:21] Ospeleo opened #51 "[ADV SEARCH] Improve CSV export file name"
Lors de l'export CSV, le fichier créé (chez moi), est un fichier texte nommé "unknown" sans extension.

- il faudrait qu'au moins le fichier soit créé avec l'extension csv pour etre ouvrable par le grand-public
- eventuellement que le fichier soit nommé. par exemple "bbs-keyword1-keyword2.csv"

[2020-11-30 11:45] Clm-Roig opened #746 "[DOC TABLE] Sort by doesn't work"
Example: when a moderator want to sort the submissions by any attributes, it won't work for many of them.

That's because Sails, in server-side, allows sort by only for the proper **t_document** table attributes and not for the collections.
For example, it works for **publicationDate** but not for **subjects**, **regions** etc.

## Long-term solution (APIside)

- Work on API-side to accept more so

[2020-12-03 11:13] maximenathan opened #50 "[MAP] Add layer Bing Satellite"
Bing Satellite :
@maximenathan : Bing Maps Key : AiZDXmgcNHMsP_ONzcpoE1UpohoQiRj-EvS2cfqLdiBCQFtjQTrG8p79rknAZkpw
https://github.com/digidem/leaflet-bing-layer
Prendre AerialWithLabelsOnDemand ou Aerial
(la clé est active pour grottocenter.org et pour localhost uniquement)

_Originally posted by @bsoufflet in https://github.com/GrottoCenter/Grottocenter3/issues/443#issuecomment-737391682_

[2020-12-16 09:27] Clm-Roig opened #25 "[SIGN UP FORM] Check files architecture"
Le formulaire fonctionne comme je le souhaite. J'ai cependant quelques hésitations sur certains points :

1. Est-ce que l'architecture est bonne côté front ? (features et pages. Je ne suis pas sûr de saisir la différence entre pages et appli par exemple.)

2. Est-ce que la gestion d'erreurs, qui est doublée (champ rouge + notification snack bar), est au bon endroit pour les deux ?
3. J'hésitais au

[2021-01-16 17:31] jmvanel opened #27 "[HOME PAGE] Add links"
Is the home page frozen through code, or can it be changed at runtime ?
Specifically , it would be nice to add a link to new aggregation server https://data.grottocenter.org/ .

[2021-02-06 23:25] louis-cuny opened #28 "[MAP] Problems with not correctly placed/sized elements"
- [x] The breadcrump has a curious height with text and icons on different sizes.

- [ ] The converter tool is out of the screen

![image](https://user-images.githubusercontent.com/13121784/107131833-5ef1db80-68da-11eb-9c51-0f5fecd28450.png)
![image](https://user-images.githubusercontent.com/13121784/107131842-674a1680-68da-11eb-91db-e526b7910dc9.png)

[2021-03-31 19:39] maximenathan opened #44 "[MAP] [STYLE BUG] Hover on firefox stays"
Since pull/449

On Firefox

Quant à mon souci de texte "hover" (XX entrances) qui se décale du curseur, je ne l'ai que sur Firefox (sur Linux, impossible de tester sous Windows chez moi...), tout simplement à partir du moment où je déplace la carte :

![décalage](https://user-images.githubusercontent.com/20704943/101267298-6b7d7a80-3757-11eb-80a3-2d765181787a.gif)

Quand je monte la carte, le text

[2021-04-15 12:40] urien opened #24 "Transifex API v2 and v2.5 deprecation"
Il convient de revoir la tache Grunt qui utilise l'api de Transifex.

Je copie ici le message envoyé par Transifex

Following our last announcement (https://www.transifex.com/blog/2020/transifex-api-version-3/) regarding the stable release of Transifex API v3, we're excited to announce that we are deprecating the previous API versions, namely API v2 and v2.5, to make way for the more usable and ma

[2021-04-16 05:41] urien opened #52 "[DOCUMENTS] Add informations about related documents"
Dans la partie entités liées il faudrait faire figurer les documents liés et leur type.
Si le document est une collection il y a des numéros liés
Si le document est un numéro il est lié à une collection et à des articles
Si le document est un article il est lié à un numéro

![image](https://user-images.githubusercontent.com/1165144/114976932-18df6800-9e87-11eb-85e9-b34d45ee9b25.png)

[2021-06-04 09:18] Clm-Roig opened #22 "[SECURITY] Limit max number of requests using Captcha"
Grottocenter is a public and free service. But we must protect a little bit our infrastructure (and its cost) by limiting the number of requests every day / hour / minute.

We could a captcha on resetPassword, signUp and login forms for example.

[2021-06-14 15:49] AxelCanton opened #46 "[ADV SEARCH] Search by publication date"
At the moment, any results returned by the API don't contain the publication date of the document.
![Sans titre](https://user-images.githubusercontent.com/58460876/121920651-8a794c80-cd38-11eb-893d-71016326d5a1.png)

This is probably the reason why it is impossible to search for a document with the date field.

[2021-08-13 12:22] maximenathan opened #4 "Create script to update translations"
Create a script to update translations from transifex.
Move translations from outside the `web-app` package

[2021-08-13 12:37] maximenathan opened #5 "[API DOCUMENTATION] Make swagger available"
Since the migration to the new `grottocenter-front`, Swagger (Route `ui/swagger/1`) is no longer working.

![image](https://user-images.githubusercontent.com/7127156/129358037-6d52aa2e-50bb-4cef-adaf-dfa1901ff6f2.png)

## TODO

- Get the API documentation using the following route & Redux;
`Route : GET api/v1/swagger.yaml`
See GrottoCenter/Grottocenter3#652 for more details.

- Change the document

[2021-08-18 19:29] Clm-Roig commented on #46
The date is now displayed thanks to GrottoCenter/Grottocenter3#597 but we need to fix the date search.

The attribute "date_part" is a string so we can't use a "range" search on it like it's done currently...

[2021-09-06 10:26] urien opened #9 "OSM Map"
Il conviendrait de prendre en compte la demande qui est formulée dans le message ci-dessous

---------
Bonsoir,
En tant que contributeur à OpenStreetMap, je suis content de voir que vous utilisez une carte issue d'OpenStreetMap sur votre site, notamment https://beta.grottocenter.org/ui/map/.

Vous pouvez retrouver les signalements sur https://github.com/osm-fr/attributions/issues/75
Cependant, j'a

[2021-09-06 10:38] urien opened #10 "[SIDE MENU] Licences"
Il faudrait mettre à jour les infos sur la page d'accueil afin d'indiquer
que la licence CC-BY-SA est itilisée pour les données protégées au titre du droit d'auteur
Que la licence ODBL est utilisée pour les données qui ne relèvent pas du droit d'auteur

[2021-09-15 18:18] urien opened #11 "Documents must be validated"
Suite à la mise à jour les bibliographies doivent être validées
![image](https://user-images.githubusercontent.com/1165144/133487434-cf931bed-6a17-40d7-b7cc-920bb2b715dc.png)

Je ne sais pas combien il y en a car si on en affiche 5 le site me dit qu'il y en a 5
![image](https://user-images.githubusercontent.com/1165144/133487579-64f43dd1-1844-4876-84ab-32173ff01a5a.png)
Si j'en affiche 100 le site

[2021-09-16 16:12] urien commented on #11
Sur beta cela fonctionne bien, c'est sans doute un pb dans le code front sur ce repo
![image](https://user-images.githubusercontent.com/1165144/133647700-55f94945-9d4d-4d73-bf50-08153b25816f.png)

[2021-09-26 10:10] maximenathan opened #12 "[API] /entrances riggings not correctly formatted"
We want to display the `riggings` like in the [V1](https://www.grottocenter.org/html/file_Fr.php?lang=Fr&category=entry&id=139)

Currently the API send the riggings as 1 line
![image](https://user-images.githubusercontent.com/7127156/134803302-f54ed9c1-4a3c-4988-8787-5c1d789f2b44.png)
While the front need 1 line for each `obstacle`

![image](https://user-images.githubusercontent.com/7127156/134804

[2021-09-26 11:14] maximenathan commented on #10
@urien Peux tu détailler avec un screenshot et donner le texte exact  ?

[2021-09-26 14:43] #11 closed, assigned to nobody

[2021-09-30 11:18] urien commented on #10
Cela pourrait ressembler à cela
![Sans titre 1](https://user-images.githubusercontent.com/1165144/135446282-40556c94-e2d8-4db9-acc5-3a36f8d6e3e6.png)

Avec un texte dans une info bulle
pour CC-BY-SA : Sauf mention contraire la licence CC-BY-SA s'applique pour les documents et textes soumis au droit d'auteur
pour ODBL : la licence ODBL s'applique a l'ensemble des données qui ne relèvent pas du droi

[2021-09-30 18:53] urien opened #17 "[SIDE MENU] Update items"
Avec les développements récents et à venir il faudrait reprendre la barre de menu
![image](https://user-images.githubusercontent.com/1165144/135513488-e3b35936-3cee-4c4f-8f28-29fb9da7fd0f.png)
La boite à outils est vide et elle ne va pas servir dans les prochains mois : il faudrait l'enlever

Le menu document devrait être également supprimé : la validation de document est désormais accessible depu

[2021-10-01 10:33] urien opened #18 "[PERSON] View"
Il serait utile d'avoir une page publique qui décrive les personnes

L'URL serait de type `grottocenter.org/ui/persons/12345678`

Les informations présentes seraient :
- name
- surname
- nickname
- langage

Ainsi qu'une liste de ressources qui sont liés à la personne :
- Les documents dont les personnes sont les auteurs
- Le nombre de contributions à Grottocenter
- éventuellements d'autres informa

[2021-10-06 07:29] bsoufflet commented on #18
@Clm-Roig : Les liens décrit par @urien dans la description sont ils accessible via l'API ?

[2021-10-06 07:32] bsoufflet commented on #17
Oui, ajouter un bouton "+ Contribuer" qui contiendrait pour l'instant un seul "sous lien" qui serait "ajouter un document BBS".

[2021-10-06 08:10] Clm-Roig commented on #18
Oui l'API est déjà en place ! Il y a un contrôle de qui demande les données, on a au minimum accès à ça :
![image](https://user-images.githubusercontent.com/20704943/136164700-4f29d20b-5036-4b53-8162-8241a9166e8e.png)

**ROUTE à utiliser**

`/api/v1/cavers/1234567`

[2021-10-06 22:33] #9 closed, assigned to nobody

[2021-10-07 13:48] urien opened #19 "[DOC SUBMISSION] Add more document types"
En base de données une liste de types est définis pour les documents.
Coté applicatif seuls certains de ces types sont proposés.
Cela va devenir handicapant maintenant qu'il est possible de proposer des fichiers.
Il faudrait pouvoir choisir parmi tous les types de documents, éventuellement en débutant la liste par les types Collection, Numéro, Article.
![image](https://user-images.githubuserconten

[2021-10-07 14:01] urien opened #20 "licenses are not available / document type"
J'essaye de rajouter un fichier sur azure.grottocenter.org
il ne m'est pas possible de selectionner une licence le champ licence est vide
Si j'indique qu'il existe un document qui autorise la publication  j'ai la possibilité de choisir parmi les bibliographies. Il faudrait que tous les documents ayant comme titre bibliographie soient passés au type TEXTE et non AUTORIZETOPUBLISH ou que le front af

[2021-10-11 14:10] AxelCanton commented on #20
Pour les formats de ficher et les licenses c'est normal ! La PR de l'API n'a pas été merge et j'y ai ajouté quelques routes, donc ça justifie les erreurs 404.

Pour ce qui est des types je comprends pas trop, normalement ça n'affiche que ceux qui ont le type AUTHORIZE_TO_PUBLISH, si le problème est au niveau de la bdd (le type est incorrect pour certains) c'est bien au niveau de la bdd qui faut fa

[2021-10-11 14:36] urien commented on #20
Merci Axel,
On a bien un message d'alerte qui passe rapidement
Pour les licences on a une boite vide
![image](https://user-images.githubusercontent.com/1165144/136808213-623e5308-8cdd-4b7c-918f-d3c18d3f03ef.png)
Pour les documents de type AUTHORIZE_TO_PUBLISH on a toute une liste de Bibliographie.
J'avais un problème assez proche avec la validation des documents après que tu ai mis en place la pos

[2021-10-13 15:08] AxelCanton commented on #20
Que le champ des licences affiche une boîte vide est normal, comme j'ai dit au dessus, la route qui permet de récupérer la liste de licences n'est pas encore merge.

Il faudrait pouvoir regarder la liste des documents qui ont comme type AUTHORIZE_TO_PUBLISH dans le base de données de prod pour pouvoir comprendre le problème.

[2021-10-19 10:27] Clm-Roig commented on #23
I'm closing this, feel free to open an issue on the new front repo here if needed: https://github.com/GrottoCenter/grottocenter-front

[2021-10-19 19:12] maximenathan commented on #23
- Install and setup React Testing Library
- Test Javascript function and Hooks
- Run test with CI (and Circle CI like backend repo)

Testing components could be done with Cypress ("end to end" test with mocked data)

[2021-10-20 12:35] bsoufflet commented on #28
On the new Azure app the breadcrumb has been removed.

[2021-10-20 12:35] #28 closed, assigned to nobody

[2021-10-20 13:03] Clm-Roig commented on #269
Techniquemet, un article n'a pas d'ISSN non ? Il faudrait carrément désactiver ce choix pour les articles selon moi.

[2021-10-20 13:08] urien opened #31 "Creation of the caver page"
La page décrivant les membres n'existe pas sur Grottocenter

**Les champs à utiliser sont ceux de la table Caver**

Du fait des RGPD toutes les donnees personnelles (barrées ci-dessous) ne doivent pas etre exposées par l'API public et ne doivent pas etre affichées !!!!

name
surname
nickname
country
~~region~~
~~city~~
~~postalCode~~
~~address~~
~~dateBirth~~
~~contact~~
yearInitiation
dateInscrip

[2021-10-20 13:09] Clm-Roig commented on #31
Api route already available (maybe it needs to be completed) at /api/v1/cavers/3

There is a check of who is performing the request to know if they can get the whole data or a partial part of it.

[2021-10-20 13:12] urien commented on #269
En fait l'ISSN ne concerne que les collections : il faudrait le désactiver pour tous les autres types

[2021-10-21 15:29] urien opened #32 "[MAP] No Grottocenter datas on the map"
Sur Azure, le  repo front ne fournit aucune données issues de grottocenter

![image](https://user-images.githubusercontent.com/1165144/138309631-59ee8b77-10a1-44b2-a4d6-59750e13f85d.png)

[2021-10-21 15:34] urien commented on #32
beta.grottocenter.org n'est plus accessible > il y a donc sans doute un pb d'accès au back

[2021-10-21 15:47] urien commented on #32
C'était cela, le problème est réglé

[2021-10-21 15:47] #32 closed, assigned to nobody

[2021-10-25 15:47] urien opened #34 "[ENTRANCE PAGE] Show locations"
Les données viennent de la table t_location
Les informations seront placées dans un cadre semblable a celui qui est utilisé pour afficher les descriptions.
Ce cadre sera placé au-dessus de la description

[2021-10-25 15:51] urien opened #35 "[ENTRANCE PAGE] Show histories"
Il s'agit d'afficher les données issues de t_history
L'affichage se fera dans un cadre du même type que la description
Ce cadre prendra place après le cadre "Rigging"

[2021-10-25 15:57] urien opened #36 "[ENTRANCE PAGE] Show documents"
Il s'agit de présenter les documents qui sont associés à l'entrée
Les informations affichées seront
- le titre
- le type du document (Collection, Article...)
- un lien vers la fiche détaillée du document (ui/documents/:documetId)

Si un fichier est associé à ce document il faut mettre en place un lien permettant de visualiser/télécharger ce document dans une nouvelle fenêtre.
Les documents apparai

[2021-10-25 16:13] urien opened #37 "[ENTRANCE PAGE] Show various informations"
Pour avoir les informations qui étaient disponibles dans la V2 il convient de donner accès aux informations suivantes.
Ces informations seront à mettre en place sous la carte en complément des informations figurant déjà

![image](https://user-images.githubusercontent.com/1165144/138730650-00b4e9b2-d26a-469a-aade-9fbe43e91314.png)

- [x] Température (t_cave:temperature)
- [x] Présence ou non de sip

[2021-10-25 16:40] urien commented on #31
Doublon avec #18

[2021-10-25 16:48] urien opened #38 "[AUTH] Password change"
Pour finaliser le module d'authentification
Il faut créer une page accessible via le lien qui est dans le mel qu'on reçoit quand on demande à mettre à jour son mot de passe
Cette page permettra de créer un nouveau mot de passe.
Il conviendra également de finaliser la localisation

[2021-10-25 16:51] urien opened #39 "[HOME PAGE] Change welcome text"
Le texte d'accueil doit être changé
Cela peut être fait dès à présent

Voila le texte proposé
fr
Bienvenue sur la nouvelle version de Grottocenter, la base de données communautaire, dédiée à la spéléologie.
L’ensemble des informations est librement accessible, la création d’un compte te permettra de contribuer : tous ensemble nous pourrons compléter et fiabiliser les informations sur les cavités,

[2021-10-25 17:00] urien opened #40 "[ENTRANCE PAGE] Creation / editing of basic information"
La création / L'édition d'une entrée se déroule selon un processus semblable a celui qui a été mis en place pour les documents.
Proposition d'étapes

1- Nom de la cavité et coordonnées > La présence de coordonnées donne access aux champs Pays / région / département /  / commune / Lieu dit qui seront préremplis en utilisant le travail réalisé par des étudiants. Ces valeurs proposées peuvent être mo

[2021-10-25 17:04] urien opened #41 "[ENTRANCE PAGE] Creation / Editing Entrance description"
Depuis la page d'une cavité mettre en place la possibilité de créer une description à partir d'un bouton.
Et pour les descriptions existantes mettre en place un bouton permettant d'éditer la description.

Ces fonctionnalités sont accessibles pour toutes les personnes connectées

Une description est constituée d'un titre, d'un texte et de la langue utilisée pour cette description. Il faudra faire f

[2021-10-25 17:44] urien opened #42 "[ENTRANCE PAGE] Add a document"
Depuis une cavité existante créer la possibilité de lancer le processus de création d'un document tel qu'il a été mis au point . A la fin du processus le document est créé et il est associé à la cavité

Comme pour tous les documents celui-ci devra être validé pour apparaitre associé à la cavité. Il faudrait donc afficher, à la fin du processus, la page de la cavité avec un message indiquant que le

[2021-10-26 09:03] Clm-Roig opened #43 "[DOC & FILES SUBMISSION] Improve UX"
The user experience of the Step 4 (files upload) can be improved. I suggest:

- [x] Sort them by alphabetical order.

- [x] Remove the file formats with a "null" extension. There are displayed as en empty space in the list. There are 374 formats without a extension among the 969 ones.

- [x] Move the accepted file formats below the "Upload files" button. When this list is finally loaded, it pushes

[2021-10-26 09:04] Clm-Roig commented on #43
@AxelCanton je ne sais pas si c'est encore dans le cadre de ta mission (ou si jamais tu en as envie), mais si tu as 20-30min à consacrer à ça, ça peut être très vite fait :slightly_smiling_face:

[2021-10-26 17:46] urien commented on #34
Sur la V2 de Grottocenter cela ressemble à cela

![image](https://user-images.githubusercontent.com/1165144/138932721-d3f57197-5145-4252-8140-b4ac10b5f644.png)

[2021-10-28 08:04] Clm-Roig commented on #46
Je m'en occupe, j'ai trouvé comment corriger le souci :slightly_smiling_face:

[2021-10-28 13:45] #46 closed, assigned to Clm-Roig

[2021-10-29 17:11] urien commented on #51
Je viens de faire un test (sur l'appli front, avec Firefox sous windows) et j'obtiens bien un fichier avec l'extension csv (R++2O7Fo.csv)
Le nom semble provenir d'une production aléatoire. L'utilisateur peut choisir de lui en donner un autre s'il préfère.
Il me semble assez lourd d'indiquer dans le nom du fichier les critères de recherche qui ont été fixés par l'utilisateur. cela ne me semble pas

[2021-10-30 15:26] Clm-Roig opened #53 "[VERSIONNING] Add & update version number"
Each time the client is deployed on production, we must increase the version number (currently it's 21.0.0 as shown in the left menu on https://beta.grottocenter.org).

There are some automatic tool which can help with this, don't hesitate to use one of them :wink:

[2021-10-30 16:00] urien opened #54 "[DOCUMENT] problem to save a file"
Je viens d'essayer de créer un document et lorsqu'on soumet un document l'enregistrement ne se termine pas
Voila l'erreur retournée (CORS) :

[code]

[2021-10-30 16:03] urien commented on #54
Bon, si j'essaye de créer un document sans fichier attaché, comme utilisateur, j'ai un message me disant que je n'en ai pas l'autorisation

[2021-10-30 16:04] urien commented on #54
Rebon, si je suis administrateur je n'ai pas non plus le droit de soumettre un document

[2021-10-31 09:40] urien opened #55 "[DOCUMENT VALIDATION] Error"
Quand je demande la liste des documents à valider (comme modérateur) le tableau met très longtemps à charger.

J'ai un message d'erreur dans la console

Blocage d’une requête multiorigine (Cross-Origin Request) : la politique « Same Origin » ne permet pas de consulter la ressource distante située sur https://api.grottocenter.org/api/v1/documents?isValidated=false&limit=50&skip=0&orderBy=asc. Raiso

[2021-10-31 09:48] urien commented on #53
Peut-être ici
https://www.npmjs.com/package/genversion

[2021-10-31 14:31] urien commented on #20
Cela semble réglé

[2021-10-31 14:31] #20 closed, assigned to AxelCanton

[2021-11-03 10:12] Clm-Roig commented on #4
See #24 too => we should use the Transifex v3 API now

[2021-11-03 10:12] Clm-Roig commented on #24
Related to #4 too, we should rework our translation process and resolve both issues.

[2021-11-03 10:16] Clm-Roig commented on #38
The page will be located at : https://beta.grottocenter.org/ui/changePassword?token=123456789. The link (including the token) is obtained via email when an user requests a password change.

The token must be extracted from the URL and passed alongside the new password to the route **PATCH api.grottocenter.org/api/v1/account/password**. Here is the HTTP body structure of this route:

[code]

[2021-11-03 10:23] Clm-Roig commented on #19
Actuellement, les 4 types de documents proposés sont hardcodés dans le client. Cela est dû au fait que de nombreux champs du formulaire sont dépendans du type choisi (certains disparaissent / apparaissent, d'autres sont obligatoires ou facultatifs).

Il faudrait demander à l'api la liste de tous les types possibles (cette route n'existe pas encore, elle se nommerait `GET /api/v1/documents/types`).

[2021-11-03 13:54] Clm-Roig commented on #5
Maybe the API documentation should be serve by the API directly, inside a plain and single html page ? Or the API only serves the _apiV1.yaml_ file ?

[2021-11-03 14:32] urien commented on #5
Pourquoi pas.
Est ce que cela a du sens de faire une page sur le wiki et de la maintenir ? C'est quelque chose que je peux faire mais cela n'a rien d'automatique

[2021-11-03 14:35] Clm-Roig commented on #5
Il faut que le fichier de l'API reste un fichier yaml lu par Swagger, versionné par Git et modifié par les développeurs quand ils développement une nouvelle route. Si on le découple du développement en le mettant dans un wiki, on oubliera d'aller mettre à jour la doc après avoir créé une nouvelle route.

[2021-11-03 15:10] Clm-Roig commented on #5
[Ici](https://github.com/GrottoCenter/Grottocenter3/pull/544#issue-860229712), @bsoufflet disait :

Mais je n'arrive pas à obtenir la doc, quelque soit la route utilisée...

[2021-11-03 21:11] urien commented on #19
J'ai repris le tableau sur lequel on avait travaillé pour les 4 premiers types
https://docs.google.com/spreadsheets/d/1jtG6PEPwtKs6WuQ-e3BOFQD5nkFFCID10qnCNJL4J2U/edit?usp=sharing
Il est possible pour tout le monde de l'éditer
Je vais faire une proposition pour le compléter

[2021-11-03 21:12] urien commented on #19
Une première approche serait de mettre le même fonctionnement que les textes pour tous les nouveaux types de document rajoutés

[2021-11-03 23:00] maximenathan commented on #5
https://www.npmjs.com/package/swagger-ui-react

C'est possible de retourner un json swagger via un call api ?

[2021-11-03 23:42] bsoufflet commented on #5
En effet j'avais écris cela mais en fait je n'ai pas ajouter le mécanisme pour "Servir" le fichier Swagger...
Je pense que l'idéal serait en effet de juste servir le fichier yaml via l'API ou bien en tant que fichier static.
l'extension swagger-ui-react saura ensuite parsé le fichier YAML d'après la doc.

Cependant j'ai supprimé toutes les taches grunt qui permettait de déplacer les fichiers de as

[2021-11-04 08:19] urien commented on #55
Le problème est réglé

[2021-11-04 08:19] #55 closed, assigned to nobody

[2021-11-04 08:22] urien commented on #54
Désormais il est possible de créer et valider un document sans fichier. Par contre l'ajout d'un fichier plante (la requete tourne indéfiniement)
Dans la console on a l'erreur suivante (CORS) :

[code]

[2021-11-04 08:35] urien commented on #54
Je viens de refaire un test : cela fonctionne lorsqu'on créé un document avec un fichier. Peut être que le pb n'existe que lorsqu'on met à jour un document en lui rajoutant un fichier

[2021-11-04 13:02] Clm-Roig commented on #5
On peut servir le fichier yaml en API REST avec `res.sendFile()` grâce à Express => https://expressjs.com/fr/api.html#res.sendFile
Je peux faire une route GET /doc en 5min sur le back si besoin.

[2021-11-04 23:00] bsoufflet commented on #5
Oui ce serait très bien !
Une route GET /swagger-doc :) (mieux que juste /doc qui est peut etre trop générique?)

[2021-11-04 23:04] bsoufflet commented on #5
Je me demande si il ne faudrait meme pas que la route soit `GET /doc/swagger-v1.yaml` ?
Comme cela, si un jour on a une v2 on aura une 2ème route à créer en plus de celle là qui sera `GET /doc/swagger-v2.yaml`

[2021-11-05 09:11] Clm-Roig commented on #5
Le prefix de la route étant api/v1, on aura donc GET api/v1/swagger-v1.yaml : on aura bien la différenciation entre la doc v1 et la doc v2

[2021-11-05 11:01] bsoufflet commented on #5
si le prefix est `api/v1` on pourrait juste avoir la route `GET api/v1/swagger.yaml` non ?

[2021-11-05 11:03] Clm-Roig commented on #5
Ah oui bien sûr, je me suis emmêlé.

GET api/v1/swagger.yaml ce serait parfait

[2021-11-08 12:49] Clm-Roig commented on #40
Pull request (merged) about the API endpoint here: https://github.com/GrottoCenter/Grottocenter3/pull/649

(not in production currently)

[2021-11-08 12:51] Clm-Roig commented on #40
For the cave choice, it's now possible to use the `resourceType` value `"caves"` to search on Grottocenter caves as explained here: https://github.com/GrottoCenter/Grottocenter3/pull/650

[2021-11-08 21:10] #52 closed

[2021-11-10 16:28] urien opened #58 "[DOC EDIT] Editor is not deduced from parent"
Pour les numéro l'éditeur est défini par le document parent, il n'est donc pas possible de le saisir. Mais il n'est pas possible de cliquer sur le bouton suivant tant qu'on n'a pas saisi un éditeur.
Du coup il n'est pas possible de modifier les numéros

![image](https://user-images.githubusercontent.com/1165144/141152268-a33e9353-edab-4ed6-afc8-e73d235d690d.png)

[2021-11-11 05:49] urien commented on #58
Ce problème n'existe pas pour les articles : l'editeur du document parent est directement renseigné

[2021-11-11 06:06] urien opened #59 "[DOCUMENT] Cannot save an edited document"
Je souhaite modifier le document ci-dessous et lorsque je clique sur sauvegarder le processus n'aboutit pas

https://beta.grottocenter.org/ui/documents/edit/22081
Mais avec  https://beta.grottocenter.org/ui/documents/edit/22082

j'ai le même problème qui est peut être un problème général

[2021-11-11 06:27] urien commented on #59
A priori il n'y a pas de problème pour enregistrer un article édité

[2021-11-13 15:55] Clm-Roig commented on #58
Je ne suis pas sûr d'avoir compris et je n'arrive pas à reproduire ton problème...
Le souci se produit dans quel cas ? Une description du problème avec 1) état initial 2) modifs effectuées et 3) état final (buggué donc) m'aiderait beaucoup.

[2021-11-13 15:56] Clm-Roig commented on #58
Chez moi, dès qu'on rentre une collection (obligatoire pour une Issue donc), l'éditeur est déduit obligatoirement.

Est-ce que le problème n'est pas plutôt qu'il existe des collections sans éditeur das la base de données ?

[2021-11-13 16:02] urien commented on #58
Je te propose d'ouvrir une issue (un numéro).
Par exemple https://beta.grottocenter.org/ui/documents/25621
Si tu essaye de l'éditer, à l'étape 2 (classification) l'éditeur n'est pas
renseigné mais on ne peut pas le saisir. Pourtant l'éditeur de la
collection est bien renseigné
https://beta.grottocenter.org/ui/documents/21383
Comme il n'y a pas d'éditeur il n'est pas possible d'aller à l'étape 3

I

[2021-11-13 16:05] Clm-Roig commented on #58
D'accord, je crois que j'ai compris d'où venait le bug grâce à cet exemple, merci !

### :warning: EDIT : ce n'est pas ça, cf commentaire suivant :arrow_down:

~Dans ce formulaire, habituellement utilisé pour la soumission et l'édition de document AVANT validation par les modérateurs, on utilise l'attribut `partOf` pour déduire les données provenant du document parent.~

~Ici, il faudrait chercher

[2021-11-13 16:53] Clm-Roig commented on #58
### :warning: EDIT : ce n'est pas ça encore, cf commentaire suivant :arrow_down:

Hum le problème est plus complexe que ça.

~Lorsque le document est soumis, son éditeur n'a pas été enregistré vu qu'on le déduit de son parent. De ce fait, on est sûr d'avoir toujours le même éditeur que celui du parent même s'il change.~

~Pour cette issue, il faut modifier le composant pour chercher d'abord dans `

[2021-11-13 17:25] Clm-Roig commented on #58
Bon en fait je crois juste que ce n'est pas possible actuellement et qu'on est face à des issues "malformées".
Lorsque l'on soumet une issue, on soumet forcément un éditeur avec. Pour moi, la meilleure façon de fixer ce bug c'est de :
- mettre à jour la BD pour mettre un éditeur à toutes les collections (1000 sur 1500 sont sans éditeur)
- mettre à jour la BD pour mettre un éditeur à toutes les iss

[2021-11-13 17:33] Clm-Roig commented on #58
En production :

- 48 000 issues n'ont pas d'éditeur
- Elles ont toute une collection ...
- ... mais on a 1000 (parmi 1500) collections sans éditeur.

Autant dire que ça va être compliqué d'avoir des données homogènes avec ça

[2021-11-13 17:35] urien commented on #58
Ok je comprends

[2021-11-14 07:05] urien commented on #58
Je vais créer un éditeur par collection. Mais pour certaine collections il n'est pas possible d'imaginer quel peut être l'éditeur.
Et on a vraiment beaucoup de doublons
Est ce que cela convient si je propose une liste de document à supprimer directement en base de données de manière a avoir une liste cohérente de collections et d'issues ?
A partir de cette liste on pourrait trouver une solution co

[2021-11-14 10:26] Clm-Roig commented on #58
Pas de soucis pour une liste de docs oui (par leur id évidemment)

[2021-11-14 10:29] urien commented on #58
Actuellement je ne peux pas éditer les collections
https://github.com/GrottoCenter/grottocenter-front/issues/59
cela fonctionnait il y a quelques jours mais plus maintenant
je m'y colle dès que c'est possible

Le dim. 14 nov. 2021 à 11:26, Clément Roig ***@***.***> a
écrit :

[2021-11-14 11:19] Clm-Roig commented on #54
Concernant les droits, sur la prod j'ai ça :

![image](https://user-images.githubusercontent.com/20704943/141678723-d76d2cf7-079c-4fe1-8d02-0846b89431f1.png)

Est-ce que déjà c'est bon ? Si ces droits sont bons, je regarderai le code de l'API et pousserai un correctif.

Restera donc, dans cette issue, à gérer cette histoire de fichier / pas fichier lors de la création ou de la modification.

[2021-11-14 11:32] Clm-Roig commented on #53
ça peut faire l'affaire temporairement. Mais à terme, il faudra un truc plus complet et automatisé comme semantic-release : https://github.com/semantic-release/semantic-release

[2021-11-14 11:50] urien commented on #54
Oui les droits sont bons sauf delete.
Le delete n'est autorisé qu'aux admistrateurs pour tous les objets.
Mais c'est sans relation avec le sujet de cette issue

[2021-11-15 09:13] Clm-Roig commented on #5
La PR côté back qui détaille la route à utiliser :
https://github.com/GrottoCenter/Grottocenter3/pull/652

Route : GET api/v1/swagger.yaml

[2021-11-15 13:57] Clm-Roig commented on #43
I take this one!

[2021-11-15 15:29] #43 closed, assigned to Clm-Roig

[2021-11-15 16:58] urien opened #62 "[DOCUMENT] spellchecking"
Il ne faut pas de e à entité**e**s liées
Dans le fichier transifex c'est bon
![screenshot-beta grottocenter org-2021 11 15-17_55_59](https://user-images.githubusercontent.com/1165144/141822559-89eb6892-4b98-41a0-b6c1-4d5bda7df6d1.png)

[2021-11-15 17:42] urien opened #63 "[IMPORT CSV] dct: creator should not be required"
J'ai proposé un csv (document) sans auteur > il s'agit d'un numéro (issue). J'ai un message d'erreur et un blocage à l'étape 2, ce qui empeche de continuer.

[2021-11-15 17:45] urien opened #64 "[CSV IMPORT] Taking into account of the parent document indicated in dct: isPartOf"
Pour le fichier joint j'ai l'erreur
AdapterError: Unexpected error from database adapter: insert or update on table "t_document" violates foreign key constraint "t_document_t_identifier_type_fk"
J'ai déclaré comme creator " " car c'est une valeur obligatoire et que je n'ai pas de valeur à mettre
[issues ecokarsttest.csv](https://github.com/GrottoCenter/grottocenter-front/files/7540636/issues.ecoka

[2021-11-16 10:05] urien commented on #64
Je viens de refaire un test avec le fichier joint. cela me conduit à renommer l'issue
Il ne faut pas indiquer URL dans la colonne dans dct:identifier. Par contre l'url dans dct:source est bien récupérée.
Il faut un nom pour le créateur
Dans la colonne dct:isPartOf il faut indiquer le document parent (ici la collection dans laquelle se trouve le numéro) J'ai mis l'id de la collection mais cette val

[2021-11-16 10:17] urien commented on #64
Cela ne fonctionne pas non plus si on remplace l'id par l'URL

[2021-11-16 13:16] Clm-Roig commented on #63
Je n'arrive pas à reproduire avec mon CSV (après avoir supprimé la valeur dans la colonne dct:creator) : tu peux me fournir ton CSV problématique s'il te plaît ?

[2021-11-16 13:18] Clm-Roig commented on #62
C'est corrigé, merci !

[2021-11-16 13:18] #62 closed, assigned to nobody

[2021-11-16 13:50] Clm-Roig commented on #63
Je n'ai pas de blocage à l'étape 2 pour ma part, ça bloque uniquement à l'étape 4 d'import...

[2021-11-16 14:32] Clm-Roig commented on #4
@urien est-ce que tu peux me donner des droits d'administration sur Transifex pour que je m'occupe de ça s'il te plaît ? J'ai besoin d'accéder aux paramètres de l'organisation "Wikicaves".

[2021-11-16 16:21] urien commented on #4
Je viens de le faire

Le mar. 16 nov. 2021 à 15:32, Clément Roig ***@***.***> a
écrit :

[2021-11-17 10:09] Clm-Roig commented on #4
J'ai configuré Transifex pour pouvoir faire des [PR de traduction](https://github.com/GrottoCenter/grottocenter-front/pulls).
J'ai mis à jour la page wiki qui explique tout cela : https://github.com/GrottoCenter/grottocenter-front/wiki/Translation-workflow

J'attends de voir comment ça fonctionne sur plusieurs jours / semaines pour mettre à jour les instructions pour les développeurs (du genre : f

[2021-11-17 10:10] Clm-Roig commented on #24
Resolved because grunt was used on the API side. Here, we will use something new which will use the Transifex v3 API.
(see issue #4).

[2021-11-17 10:10] #24 closed

[2021-11-17 10:30] bsoufflet commented on #4
Merci pour ce boulot @Clm-Roig :)

[2021-11-17 10:32] bsoufflet commented on #4
Du coup il faut retirer la partie "grunt transifex" de la page wiki non ?

[2021-11-17 10:33] urien commented on #4
Merci,

C'est super

Le mer. 17 nov. 2021 à 11:09, Clément Roig ***@***.***> a
écrit :

[2021-11-17 10:37] Clm-Roig commented on #4
C'est fait, merci ! Je réécrirai certaines parties du wiki quand j'aurai trouvé le workflow le plus simple et efficace, d'ici quelques jours / semaines.

[2021-11-17 14:27] Clm-Roig commented on #4
J'ai réécrit la page du wiki, c'est tout bon :slightly_smiling_face: Transifex écoute le fichier `en.json`. Au moindre push sur develop, les nouvelles clés de traduction demandées par le développeur sont récupérées automatiquement.

Il ne reste plus qu'à traduire sur Transifex puis, toutes les 6h je crois, Transifex vérifier si une langue est arrivée à 100% de traduction. Si oui, il fait une Pull

[2021-11-17 14:29] urien commented on #59
Cela semble concerner seulement les collections.
Dans la console il apparait que c'est bloqué par un outil de développement
![image](https://user-images.githubusercontent.com/1165144/142219400-87164d5a-81d9-4834-a032-1ffdc51e1149.png)

[2021-11-17 14:31] urien commented on #4
Une bonne chose de faite,
Je me demande s'il n'y a pas un pb sur le roumain
[image: image.png]
Normalement il est traduit en grande partie et la traduction n'apparait pas

Le mer. 17 nov. 2021 à 15:27, Clément Roig ***@***.***> a
écrit :

[2021-11-17 14:33] Clm-Roig commented on #4
Aucune traduction n'a été mise à jour encore, je finissais de tout peaufiner manuellement jusqu'à maintenant. Je vais forcer Transifex à nous soumettre les dernières traductions de ce pas !

[2021-11-17 17:47] #4 closed, assigned to nobody

[2021-11-17 17:49] #12 closed, assigned to maximenathan

[2021-11-18 14:58] urien commented on #259
Nous allons organiser une séance avec 2 étudiants de M1 qui vont présenter
l'utilisation de Grottocenter et collecter les besoins des utilisateurs
afin d'établir une liste de développements qu'ils vont prendre en charge.
Il est prévu qu'une séance soit organisée le vendredi 10 décembre à 20h
concernant l'usage du BBS. Est-ce que tu serais intéressé ?

Le jeu. 18 nov. 2021 à 15:53, Ospeleo ***@***.

[2021-11-18 19:02] Ospeleo commented on #259
Je serai à l’étranger et injoignable à cette heure

[2021-11-20 17:21] urien commented on #54
Aujourd'hui je ne peux pas créer un document avec un fichier avec la même erreur

[2021-11-21 09:31] urien commented on #58
Pour régler le problème plus rapidement je propose que l'éditeur soit toujours déduis du document parent mais qu'on laisse la possibilité de le modifier. Cela permettrait a tous de travailler immédiatement. Sinon on va avoir quelque chose qui ressemble à un bug durant de longs mois

[2021-11-23 07:14] urien opened #261 "[ENTRANCE Create] If not exist : create CAVE"
Quand on créé une cavité (entry dans la bdd) il est actuellement nécessaire de l'associer à un réseau (une cave dans la BD) déjà existant.
Dans la plupart des cas, la création d'une entrée doit également générer la création d'une nouvelle cavité qui aura le nom et les données fournies à l'entrée.
Je propose la modalité suivante
![issue](https://user-images.githubusercontent.com/1165144/142983423-3

[2021-11-23 07:21] urien opened #262 "[ENTRANCE Create] Automatic retrieval of administrative information"
La saisie des informations de localisation de l'entrée
![image](https://user-images.githubusercontent.com/1165144/142984225-1489d618-faa9-44ed-a602-ab532d1375fa.png)
permettrait de renseigner les informations de localisation administratives (pays, région, département,ville)
 Cela se fera à partir des outils mis en place
https://github.com/GrottoCenter/grottocenter-api/pull/1160

Le résultat sera a

[2021-11-23 08:56] urien opened #263 "[ENTRANCE Create] retrieve the coordinates by moving the cursor on the map"
![image](https://user-images.githubusercontent.com/1165144/142995208-5221d2cd-b247-4839-8c48-039c894c8f89.png)

[2021-11-23 08:58] urien opened #264 "[ENTRANCE Create] Auto fetch the language of the entrance name using the current Grottocenter language"
![image](https://user-images.githubusercontent.com/1165144/142995499-a526d9db-0158-4993-90c4-5b1c24dfb741.png)

By default the language of the entrance name should be set to the language of the current user.
However, the user still need to be able to select an other language if he want to. Indeed, some contributor may want to enter the entrance name as it is in the origin country (for example a fr

[2021-11-23 09:01] urien opened #265 "[ENTRANCE Create] possibility to convert coordinates available in another coordinate system"
Ajouter un bouton qui ouvre le convertisseur de coordonnées existant. La validation des coordonnées obtenues dans cette fenetre permettant de remplir les coordonnées dans la fenetre de création d'une entrée

A mettre en relation avec https://github.com/GrottoCenter/grottocenter-front/issues/878

Actuellement sur la page de création ou d'édition d'une cavité, les informations sur la localisation so

[2021-11-23 09:05] urien opened #266 "[ENTRANCE Create] Display of some optional fields missing"
A l'étape 2 rajouter les éléments optionnels non obligatoires suivants
Précision en mètres des coordonnées fournies
Région*
Département*
Ville*
Lieu dit*
* les valeurs pour ces 4 champs seront préalablement préremplies

[2021-11-23 21:07] Clm-Roig commented on #63
@urien du nouveau sur ce souci ? Il faut vraiment rendre dct:creator facultatif ?

[2021-11-23 21:26] urien commented on #63
Je le resoud avec "Nombreux Auteurs". Ce n'est pas prioritaire

Le mar. 23 nov. 2021 à 22:07, Clément Roig ***@***.***> a
écrit :

[2021-11-23 21:31] #58 closed, assigned to nobody

[2021-11-24 16:30] Clm-Roig commented on #63
Même si c'est pas prioritaire, je peux le corriger en 10min, ce serait dommage de s'en priver ^^

[2021-11-25 15:44] Clm-Roig commented on #64
Ce bug est corrigé non @urien ?

[2021-11-25 15:45] Clm-Roig commented on #59
On peut fermer non ? Il me semble que désormais c'est ok !

[2021-11-25 15:46] Clm-Roig commented on #54
Corrigé, je ferme !

[2021-11-25 15:46] #54 closed, assigned to AxelCanton

[2021-11-25 15:47] Clm-Roig commented on #53
J'en profite pour rajouter que ce serait bien que le client est un autre format que 21.x.x de manière à éviter les confusions avec l'API (qui utilise déjà ce format).

On pourrait éventuellement utiliser version 3.x.x : pour les utilisateurs, c'est le client qui est en version 3 je pense, tandis que l'API évolue librement en version 21.x.x (pour 2021) puis 22.x.x (pour 2022) etc.

[2021-11-25 15:48] urien commented on #59
Oui

Le jeu. 25 nov. 2021 à 16:45, Clément Roig ***@***.***> a
écrit :

[2021-11-25 15:49] urien commented on #64
Je n'ai pas testé encore

Le jeu. 25 nov. 2021 à 16:44, Clément Roig ***@***.***> a
écrit :

[2021-11-25 15:54] #59 closed, assigned to nobody

[2021-11-25 15:55] bsoufflet opened #268 "[MAP] [ADV SEARCH] Display the result of an advanced search on the Map"
Add the possibility to display the result of an advanced search on the Map application.

[2021-11-25 15:55] urien opened #269 "[DOC SUBMISSION] No ISSN for doc other than Collection"
Il pourrait être intéressant de ne pas pouvoir saisir le numéro d'ISSN pour un article ou pour un numéro.
Les utilisateurs le mette pour la collection et le ressaisisse pour le numéro et pour les articles. Ce n'est pas nécessaire, il faudrait leur indiquer

[2021-11-26 00:37] bsoufflet commented on #53
Ok, en effet pourquoi pas pour éviter de la confusion entre API et front :)

[2021-11-26 12:46] urien commented on #63
Oui effectivement

[2021-11-26 16:18] urien commented on #64
Testé, cela fonctionne très bien : merci !

[2021-11-26 16:18] #64 closed, assigned to nobody

[2021-12-01 10:44] Clm-Roig opened #289 "[MATERIAL UI] Migrate to v5"
See this article [https://mui.com/guides/migration-v4/](https://mui.com/guides/migration-v4/) on how to perform the migration

## Why ?

- [Reasons given by the MUI team](https://mui.com/blog/mui-core-v5/) (performance improvement, better developer experience, sx prop :heart:, new components)
- It will solve a `findDOMNode is deprecated in StrictMode` warning which is a known bug in Mui V4.
- Our

[2021-12-01 16:18] #10 closed, assigned to Clm-Roig

[2021-12-02 00:45] bsoufflet commented on #264
@BastienBoymond : Voici une issue simple qui pourrait t'intéresser ?

[2021-12-02 00:45] bsoufflet commented on #263
@BastienBoymond : Voici une issue simple qui pourrait t'intéresser ?

[2021-12-02 00:45] bsoufflet commented on #262
@BastienBoymond : Voici une issue simple qui pourrait t'intéresser ?

[2021-12-02 00:46] bsoufflet commented on #265
@BastienBoymond : Voici une issue simple qui pourrait t'intéresser ?

[2021-12-02 00:46] bsoufflet commented on #265
![image](https://user-images.githubusercontent.com/985903/144337382-66ea193a-b892-4feb-9ee6-011a58b46ddc.png)

[2021-12-05 19:53] Clm-Roig commented on #63
Après vérifications, je transfère côté serveur, ça concerne l'API exclusivement.

[2021-12-07 11:30] Clm-Roig commented on #38
Tu peux ouvrir une nouvelle issue pour ça, avec plus d'infos @urien stp ?

[2021-12-07 12:11] urien opened #293 "[INTL] Update language used according to the user preference"
Dans la fenêtre qui s'ouvre lorsqu'on veut se connecter les textes sont en Anglais. Ce serait bien que ce soit dans la langue choisie par l'utilisateur.
Si la fenêtre pour mettre à jour son MDP est également en anglais il faudrait mettre en place la localisation
Si cela peut être fait très rapidement il serait bien que le mel soit également dans cette langue, mais cela me semble facultatif.

[2021-12-08 17:53] Clm-Roig commented on #293
Concernant les emails, c'est déjà géré (côté API donc) mais j'ai jamais pris le temps de tester en détails ([la ligne de code qui gère ça](https://github.com/GrottoCenter/Grottocenter3/blob/6162f8651699d947a90a56c2cd47c7f3004c9d7f/api/controllers/AccountController.js#L132))

Par définition, si l'utilisateur veut se connecter c'est qu'il n'est pas connecté... et donc que l'on n'a pas sa langue choi

[2021-12-09 09:59] #38 closed, assigned to Clm-Roig

[2021-12-09 10:09] Clm-Roig commented on #35
L'API est prête et en production. L'attribut à utiliser est `histories`.
Un `history` a une structure très proche d'une `description` si je me souviens bien (auteur, titre et body).

[2021-12-09 10:11] Clm-Roig commented on #34
L'API est prête et en production. L'attribut à utiliser est `locations`.

[2021-12-14 07:33] urien opened #296 "[MAP] Link to organizations"
Actuellement quand on clique sur le nom de l'organisation dans l'info bulle cela pointe vers une URL qui n'est pas la bonne
https://beta.grottocenter.org/ui/groups/666
Il faudrait que cela pointe vers
https://beta.grottocenter.org/ui/organizations/666

[2021-12-14 08:39] Clm-Roig commented on #37
J'ai fait les modifs pour quasiment tout (PR #298). Maxime l'avait déjà fait, il fallait juste modifier les chemins vers les données.

Reste le problème de la sensibilité : j'ai ouvert une issue dédiée à ce problème (#299), j'ai quelques questions à poser pour des cas particuliers

[2021-12-14 08:39] Clm-Roig opened #299 "[ENTRANCE] Special treatment for sensitive entrance"
## API Issue ➡️ https://github.com/GrottoCenter/Grottocenter3/issues/706

## Restriction des données
L'attribut `isSensitive` d'une entrée de cavité définit si l'entrée est sensible. Cela signifie que, pour sa préservation, certaines de ses données sont altérées par l'API voire même supprimées :

- Les coordonnées (`latitude` et `longitude`) renvoyées sont celles de la commune à laquelle est ratta

[2021-12-14 08:42] #296 closed, assigned to Clm-Roig

[2021-12-14 08:49] urien commented on #299
Je propose que les utilisateurs aient accès a un bouton a cocher "Cavité sensible". Eventuellement faire un pup up avec un message de confirmation.
Une fois le bouton coché seul les administrateurs peuvent le décocher.
Depuis que j'ai fait ce ticket j'ai réfléchi a une nouvelle solution coté back.
L'enregistrement d'une cavité sensible conduit  a stocker les coordonnées dans une table qui n'est pa

[2021-12-15 09:54] #34 closed, assigned to Clm-Roig

[2021-12-15 19:22] hafidinferno opened #301 "[ADVANCED SEARCH] Highlight research on specific fields"
Suite aux tests utilisateurs qu'on a mené, les utilisateurs ont demandé à ce que le bouton "recherche dans les champs spécifiques" soit plus mis en évidence
![Screenshot (151)_LI](https://user-images.githubusercontent.com/70842529/146251276-6a76fadd-de99-415d-96d4-fa6b8403cf77.jpg)
.

[2021-12-16 14:35] urien opened #302 "[DOCUMENT] Display files license"
Pour les documents les utilisateurs peuvent choisir une licence parmi une liste qui leur est proposée. Il faudrait que la licence retenue apparaisse sur la ligne où le fichier est téléchargeable
![image](https://user-images.githubusercontent.com/1165144/146391345-f007a7e4-e1b1-484c-8570-a8e08186f701.png)
Cela correspond à cette fiche

https://grottocenter.org/ui/documents/25084

[2021-12-17 10:15] #37 closed, assigned to Clm-Roig

[2021-12-17 11:02] Clm-Roig commented on #302
Pour info, la licence dans le fichier est bien retournée par l'API et contient les données `name` et `url` que l'on doit utiliser ici.

[2021-12-17 11:03] Clm-Roig commented on #301
Il y a 2 principaux paramètres sur lesquels on peut jouer ici :
- L'ordre entre les deux blocs (spécifiques et tous)
- Le bloc ouvert par défaut

J'imagine que pour que ce soit "plus mis en évidence", il faudrait inverser ces deux choses ? (le bloc "spécifiques" en premier et ouvert par défaut).

[2021-12-17 11:23] urien opened #303 "[ORGANIZATIONS & MASSIFS] Replace caves with entrances"
Nous avons décidé que les utilisateurs auraient accès aux informations sur les cavités (cave) depuis les entrées (entrance) et que les caves ne seraient pas accessibles via Grottocenter pour éviter les confusions.

Il faut donc remplacer sur les pages des organisations et des massifs, les listes de caves par des listes d'entrances

![image](https://user-images.githubusercontent.com/1165144/1465375

[2021-12-18 00:00] bsoufflet commented on #262
@Clm-Roig : Pour cette issue il faut peut-être juste aller récupérer le "connecteur" à l'API dans le travail réalisé par les étudiants non ?

[2021-12-18 00:02] bsoufflet commented on #303
EN effet, cette issue est bien car détachée des dev actuel :)

[2021-12-18 08:00] Clm-Roig commented on #262
Il y a quand même quelques commentaires sur la PR qui n'ont pas été traités (utilisation de Redux notamment).

Le code de l'API pourrait faire l'objet de quelques améliorations : il est tout en promises alors qu'on utilise quasiment plus que des await.

[2021-12-19 21:31] urien opened #305 "[WELCOME PAGE] start with the map"
La page d'accueil sera la carte.

[2021-12-20 06:05] urien opened #306 "[ENTRANCE DETAILS] Button to view the cave on OSM"
1/ Sur la page d'une cavité (entrance) un bouton est prévu pour ouvrir la carte de grottocenter en la centrant sur la cavité actuellement consultée. Il faudrait rendre active cette fonctionnalité.
![image](https://user-images.githubusercontent.com/1165144/146719472-a8ef1245-fb02-473c-ae6c-8b38be346303.png)
Cette fonctionnalité est différente de la 2/ car dans ce cas on verra sur la carte également

[2021-12-20 06:10] urien opened #307 "[ENTRANCE Show] presentation of latitudes and longitudes"
Après échange au sein de l'association la présentation qui est retenue est la suivante
![image](https://user-images.githubusercontent.com/1165144/146719958-9bc5e09e-698e-4b03-a0ef-d36a77ac43fd.png)

[2021-12-20 06:16] urien opened #308 "[ENTRANCE DETAILS] Addition of a scroll on the left part of the window if all the information is not visible"
Pour certaines fiches l'ensemble des informations de la fenêtre de gauche ne sont pas visibles. Il faudrait rajouter une barre de défilement
![image](https://user-images.githubusercontent.com/1165144/146720446-94b78cff-b274-4949-b3d9-e1c7fb62de8a.png)

[2021-12-20 10:29] bsoufflet commented on #307
@BTHOM @urien : Faut il également afficher quelques par "WGS84" ?

[2021-12-20 10:30] bsoufflet commented on #308
Ce problème peut arriver sur un petit écran en mode paysage avec un très long nom de cavité qui s'affiche sur plusieurs lignes.

[2021-12-20 11:52] urien commented on #307
Oui, pourquoi pas. il faut envisager qu'un convertisseur soit ensuite proposé.

[2021-12-20 17:04] BTHOM commented on #307
Oui, cela permet de bien définir le référentiel des coordonnées 

[2021-12-22 16:46] urien commented on #42
Eventuellement rajouter un bouton permettant de rechercher et d'associer un document déjà existant, à la cavité

[2021-12-22 20:48] Clm-Roig commented on #305
Attention, on a déjà l'issue #17 pour ce qui concerne le menu. Est-ce que tu peux éditer ton message là-bas et supprimer ici ce qui concerne le menu s'il te plaît ? Comme ça cette issue se concentre uniquement sur la carte en page d'accueil :slightly_smiling_face:

[2021-12-22 21:07] Clm-Roig opened #330 "[DOC edition] Changing doc type causes issue because of page start / end"
Suite de GrottoCenter/Grottocenter3#696

[2021-12-23 10:50] #39 closed, assigned to Clm-Roig

[2021-12-24 13:50] #307 closed, assigned to nobody

[2021-12-25 10:29] Clm-Roig commented on #301
@hafidinferno un avis quant à mon précédent message ?

[2021-12-25 10:38] urien commented on #301
Salut @Clm-Roig, c'est une bonne solution. Je propose que les tickets qui seront ouverts par @hafidinferno lui soit réservé dans l'immédiat.

[2021-12-28 13:18] ClemRz commented on #35
Merci @Clm-Roig !
Ne serait-il pas plus correcte que ce soit `history` d'un point de vue de l'Anglais?

[2021-12-28 13:19] Clm-Roig commented on #35
Nop, il y a plusieurs history donc c'est une collection donc je mets au pluriel 🙂

[2021-12-28 13:21] ClemRz commented on #35
Merci @Clm-Roig !
Je vais commencer a travailler sur ce ticket.

[2021-12-28 14:10] #36 closed, assigned to ClemRz

[2021-12-28 19:43] urien opened #314 "[ENTRANCE DETAILS] Sort locations, descriptions, equipments, documents, histories"
Afin de faciliter la lecture des visiteurs il serait intéressant de disposer de flèches (quand on est connecté et qu'il y a plus d'une contribution dans une section) qui permettent de changer l'ordre des contributions.

Relié à l'issue coté back https://github.com/GrottoCenter/grottocenter-api/issues/574

[2021-12-30 01:14] #35 closed, assigned to ClemRz

[2021-12-31 17:56] urien opened #316 "[PARTNER] Add CRAD partner logo"
Nous avons un nouveau partenaire
le CRAD
voila son logo
![crad](https://user-images.githubusercontent.com/1165144/147834742-c28160ea-ba1f-4f3b-b21e-f0c6b8c6b935.png)
et le logo
http://lecrad.free.fr/

[2022-01-02 08:50] #316 closed, assigned to Clm-Roig

[2022-01-06 18:31] #303 closed, assigned to Clm-Roig

[2022-01-10 06:21] urien opened #320 "[DOCUMENT ADD FILE] Don't close the page"
L'ajout de fichiers aux documents commencent à être utilisé et quand les utilisateurs ont cliqué sur valider... ils ferment la fenêtre. En général cela créé le document, cela enregistre les informations sur la licence du fichier mais le fichier n'est pas téléchargé.

Le fait d’atténuer les couleurs et de mettre une fine bande qui défile n'est pas assez visible, il faudrait un message plus explicit

[2022-01-13 06:37] urien commented on #299
En complément il faudrait pouvoir créer des cavités sensibles en masse (par pays) et automatiser le remplissage des informations administratives avec impossibilité (sauf pour les administrateurs) de modifier le pays, voir la région

[2022-01-13 10:06] Clm-Roig commented on #299
J'ai mis à jour mon premier message sur cette issue en reprenant tes idées @urien. J'ai quelques questions à te poser pour clarifier quelques détails (dans un prochain commentaire).

[2022-01-13 10:14] Clm-Roig commented on #299
Je ne comprends pas trop les points suivant... L'idée de la table "non-accessible via les APIs" c'est par rapport au mail de Peter qui mentionnait une base de données hors ligne pour plus de sécurité ?

Comment stocker les coordonnées dans une table hors ligne... ? Je ne vois pas de solution, à part que les admins aient un accès manuel à la base hors-ligne et rentrent les données à la main directe

[2022-01-13 10:21] urien commented on #299
`1. stocker les coordonnées dans une table qui n'est pas accessible via les APIs`
Je pense aux apis publiques, il faudra limiter l’accès à cette table aux seuls administrateurs

oui, https://github.com/GrottoCenter/grottocenter-api/pull/271
https://github.com/GrottoCenter/grottocenter-api/pull/273 doivent être finalisés et mergés.

Je pense que pour répondre à la demande de Peter il faudrait aussi

[2022-01-13 11:03] Clm-Roig commented on #299
On a qu'une seule API et elle est publique. La seule possibilité (que tu mentionnes) est donc bien de passer par cette API mais avec vérification des droits pour accéder à la table, comme on le fait pour énormément de fonctionnalités, via la table _t_right_. C'est bien ça ?

Pourquoi pas mais à discuter sur une autre issue que celle-ci : c'est indépendant.

[2022-01-13 11:04] urien commented on #299
Oui

[2022-01-15 09:56] urien opened #322 "[MASSIF] Massif for users > implementation to meet needs"
Un massif est une unité géographique qui peut être défini par un polygone sur une carte.
Il peut être associé à des documents, à des organisations et à des cavités
Il est possible d'avoir des massifs imbriqués correspondant à des niveau de zoom différent
`par exemple Alpes > Chartreuse > Grand Som > Vallon des Eparres`
Mais il également possible d'avoir des massifs correspondant à d'autres découpa

[2022-01-15 16:43] Clm-Roig commented on #322
Ceci concerne l'API et fait doublon avec cette issue je crois : https://github.com/GrottoCenter/Grottocenter3/issues/411

[2022-01-15 16:46] urien commented on #322
Ok je ferme

[2022-01-15 16:46] #322 closed, assigned to nobody

[2022-01-17 10:29] #19 closed, assigned to Clm-Roig

[2022-01-17 15:20] urien opened #326 "[DOCUMENT AUTOR PUBLISHER... MASSIF ORGANIZATION] Delete"
Pour l'ensemble des entités

- un bouton 'supprimer' est visible pour les administrateurs et les modérateurs
- un bouton 'alerter' est visible pour les autres utilisateurs

Le bouton 'alerter' ouvre un lien vers https://en.wikicaves.org/contact

Le bouton 'supprimer' offre deux possibilité

1. supprimer l'entité (passer le champ isDeleted à true dans les tables où l'entité apparait)
2.  fusionner

[2022-01-17 15:58] Clm-Roig commented on #326
Ce n'est pas une bonne idée je pense. La gestion des données inexistantes est bien plus facile quand un objet n'existe "réellement" plus pour l'API (donc champ "isDeleted" à true mais ça, le client s'en fiche : il reçoit juste une erreur 404).
Les données doivent être uniques et fidèles à la réalité au maximum. Le reste, c'est une question d'interface utilisateur selon moi.

PS : cette issue doit

[2022-01-18 19:54] urien commented on #326
La difficulté c'est que nous avons vocation a fournir des url permanente pour tous les objets, afin que les applications qui nous utilisent et qui ont stocké l'id d'un objet, aient toujours une réponse (200) pour tous les objets qui ont existé à un moment donné.
L'exemple pour illustrer cette problématique, c'est Karst 3D qui associe les topographies à une cavité qui est connue par Karst3D par son

[2022-01-18 21:41] Clm-Roig commented on #326
Une erreur 404 est un lien qui fonctionne toujours, libre aux utilisateurs (y compris Karst 3D) de traiter cette information comme ils le veulent. Fin bref, je joue sur les mots, je m'égare 😅

Par contre, pour résumer, je vois deux cas qui se dessinent et qu'on doit (et qu'on peut) traiter correctement (corrige-moi si je me trompe) :

:x: Suppression pure et simple ? On peut même ne pas passer `is

[2022-02-17 10:26] #40 closed, assigned to maximenathan

[2022-02-28 12:53] urien opened #329 "[PICTO] Review, uniformize & refactor"
**Is your feature request related to a problem? Please describe.**
Les pictos n'ont pas tous exactement la même taille, l'ombrage n'est pas exactement le même, il y a beaucoup de pictos qui sont conservés et qui ne serviront jamais, il manque peut-être des pictos.
De plus ils y a des pictos dans des dossiers différents

**Describe the solution you'd like**
Je propose que  l'ensemble des pictos soi

[2022-03-03 18:21] urien commented on #261
Il faut coté front changer la recherche sur les réseaux par la recherche sur toutes les cavités, de manière à pouvoir soit créer un nouveau réseau soit associer la cavité à un réseau existant

[2022-03-04 11:23] Clm-Roig commented on #330
Cette issue référence 2 problèmes, je vais la splitter en 2.

1. La transformation article => issue avec le numéro de page qui fait planter (cf [premier message](GrottoCenter/grottocenter-front#330) de cette issue)
2. Le fait d'éditer le parent (que je bouge donc dans une nouvelle issue ici => [https://github.com/GrottoCenter/Grottocenter3/issues/721](https://github.com/GrottoCenter/Grottocenter3/

[2022-03-04 11:59] Clm-Roig commented on #330
Je transfère l'issue côté client. L'API n'as pas à anticiper un cas aussi complexe. Il suffit de corriger côté client le fait que quand on change le type d'un document à autre chose que "Article", il faut faire `pages = null`.

[2022-03-05 11:35] Clm-Roig commented on #320
Voir le composant "Promp" de react-router-dom (que l'on utilise déjà) : https://v5.reactrouter.com/core/api/Prompt

[2022-03-05 11:54] Clm-Roig opened #331 "[DOC submission] Use all Grottocenter languages"
**Is your feature request related to a problem? Please describe.**
Grottocenter has 7858 languages available, with 15 of them "preferred" (the most spoken ones). For document submission, it would be nice to search among all the languages in order to submit every document found.

**Describe the solution you'd like**
Instead of a drop-down menu for the language selection, an AutoComplete Component s

[2022-03-06 12:02] Clm-Roig opened #332 "[DOC edition] Changing doc type from Issue can cause error because of "issue" attribute"
**Describe the bug**
When editing a document type from "Issue" to another one, the "issue" attribute value remains. But, in database, when the document we will be validated, this is not authorized.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a document type from "Issue" to "Article" for example.
2. Validate the document: an error occurs.

**Expected behavior**
Changing from Issue sh

[2022-03-11 16:53] urien opened #334 "[ENTRANCE CREATE] Add translations and change network by cave in the search module"
**Is your feature request related to a problem? Please describe.**
Quelques ajustements sur la création de cavités :
- Ajouter les traductions (chaînes de caractères traduisibles)
- Revoir la tournure de phrase "choix d'une cavité existante VS nouvelle cavité" :

à remplacer par

- Chercher parmi toutes les caves au lieu des networks

[2022-03-12 09:00] Clm-Roig commented on #18
Je me suis permis de reformuler ton message @urien sans rien enlever sur le fond de ton propos : c'est juste pour y voir plus clair (listes au lieu de phrases).

On n'a pas cette information à propos des personnes. Ce qu'on a c'est le `language` uniquement. Il va falloir mettre à jour les conditions d'utilisation de GC donc non ?

[2022-03-12 09:05] Clm-Roig commented on #18
Est-ce qu'on bascule sur "person" au lieu de "caver" ? Pour l'API, ce serait peut-être une bonne idée aussi je pense.

Ultérieurement, autant pour l'API que pour le client, on peut aussi imaginer avoir des URLs plus spécifiques comme `/users` et `/authors` pour différencier les 2 types de compte existants dans GC. Ce serait des cas particuliers de `/persons`, les 3 routes seraient quasiment simila

[2022-03-12 09:29] urien commented on #18
Passer a person est une bonne idée.
On peut afficher le language, je vais mettre à jour les infos.
Je pense qu'il ne faut qu'une seule route pour toutes les personnes car les groupes sont poreux et les URL doivent être immuable pour une entité donnée

[2022-03-12 13:29] Clm-Roig opened #335 "[DOCUMENT] Add place information"
## Describe your problem
Currently, a document has only a `region` attribute to localize it somewhere. This is inherited from the BBS data. We want to add more information about the document place (if it's related to one). And no longer allow you to fill in BBS regions that no longer correspond to existing administrative entities

## Solution existante
https://github.com/GrottoCenter/grottocenter-

[2022-03-12 16:14] Clm-Roig commented on #334
Je viens de regarder, en fait c'est déjà le cas. Faut juste changer le label.

[2022-03-12 20:24] urien commented on #302
Quelque chose de semblable a été développé pour les documents qui sont associés aux cavités
![image](https://user-images.githubusercontent.com/1165144/158033785-c69889c4-76aa-4ce9-8b42-109609f569f8.png)
C'est visible, par exemple ici
https://beta.grottocenter.org/ui/entrances/5655

[2022-03-13 13:36] #334 closed, assigned to Clm-Roig

[2022-03-18 11:22] urien opened #340 "[MASSIF] Create / edit"
La création et l'édition d'un massif va se faire avec un stepper comme pour les documents ou les cavités.
Premier étape

- Nom (obligatoire)
- Description**s** (optionnelle) : titre, description, langue de la description

Seconde étape

- création / édition du polygone sur la carte

Troisième étape

- Champs qui seront définis lors des échanges avec les utilisateurs

Validation

- Affichage de l'e

[2022-03-21 11:08] BTHOM commented on #264
Merci à Benjamin pour la reformulation du besoin.
En effet la langue utilisée pour nommer une entrée n'est pas nécessairement la langue du contributeur.
Par exemple, je parle français mais je n'utiliserais pas la traduction française de "Mammoth Cave".

ATTENTION : La situation est encore différente dans le cas d'une langue utilisant un alphabet spécifique (tel que le thaï, cité par Benjamin). Dan

[2022-03-21 13:36] urien opened #341 "[ORGANISATION] Create / Edit"
La création et l'édition des organisation se fera à travers un stepper comme pour les cavités et pour les documents.

Étape 1

    Nom (obligatoire)
    Est partenaire (pour les administrateurs)
    Descriptions (Optionnel) composé d'un titre, d'un texte et de la langue utilisée.

Étape 2 (tous champs optionnels)

    Adresse 1
    Adresse 2
    Code postal
    Ville
    Pays
    Téléphone
    mél

[2022-03-21 13:47] urien opened #342 "[PERSON] Edit"
L'édition de la page d'une personne est possible pour la personne elle même ou par un administrateur.

L'édition se fait à travers un formulaire à plusieurs étapes, avec Steppers.

### Étape 1 - Infos de base

- Mail
- Mot de passe
_- (Voir les contrôles à mettre en place sur le mail et sur le mot de passe)_
- Nom
- Prénom
- Surnom

### Étape 2 - Liens

Autres informations à déterminer comme l'app

[2022-03-22 07:25] urien opened #345 "[ORGANIZATION] View"
La page de l'organisation doit permettre de visualiser :

- Son nom et la langue de son nom
- Ses descriptions (titres, corps et langue)
- Une carte avec sa localisation si elle existe
- Les documents que l'organisation a édité
- Les personnes qui sont membres de l'organisation
- Les cavités que l'organisation a exploré
- D'autres champs qui seront déterminés à partir des demandes des utilisateurs

[2022-03-22 07:28] urien opened #346 "[MASSIF] View"
La page des massifs doit permettre de visualiser :

- Son nom et la langue de son nom
- Ses descriptions (titres, corps et langue)
- Une carte avec le périmètre du massif et les pointeurs des cavités et des réseaux situés dans le massif
- Les documents associés à ce massif
- D'autres éventuelles informations déterminées à partir d'échanges avec les utilisateurs

[2022-03-22 07:30] urien opened #347 "[MASSIF / ENTRANCE / ORGANIZATION / PERSON] delete"
Un bouton (croix) placé en bas à droite de la fenêtre est uniquement présent si la personne connectée a le statut d'administrateur. Le clic sur ce bouton génère le processus décrit coté Serveur.

[2022-03-22 07:34] urien opened #348 "[PERSON] Merge / delete"
Un bouton (croix) placé en bas à droite de la fenêtre est uniquement présent si la personne connectée a le statut d'administrateur.
Une fenêtre permet de choisir entre supprimer la Personne ou la fusionner avec une autre personne. Dans ce second cas, une fenêtre permet alors de faire une recherche pour sélectionner la personne avec laquelle fusionner.
![image](https://user-images.githubusercontent

[2022-03-22 07:35] urien opened #349 "[ORGANIZATION] Merge / delete"
[](https://user-images.githubusercontent.com/1165144/159430177-bb0c71bc-7b50-4025-95cb-f50450238d47.png)Un bouton (croix) placé en bas à droite de la fenêtre est uniquement présent si la personne connectée a le statut d'administrateur.
Une fenêtre permet de choisir entre supprimer l'organisation ou la fusionner avec une autre organisation. Une fenêtre permet alors de faire une recherche
![image](h

[2022-03-22 11:47] #332 closed, assigned to Clm-Roig

[2022-03-22 18:46] Clm-Roig commented on #342
Je me suis permis de mettre un peu en page ton message @urien.

Selon moi, on devrait dissocier l'édition d'un compte et l'édition d'une fiche d'auteur. Ce sont 2 fonctionnalités différentes, avec des niveaux de visibilités et de sécurité distincts.

Dans le premier cas, je dirais que seul l'utilisateur et les administrateurs peut s'éditer. Qui plus est, le mot de passe et le mail ne devraient êtr

[2022-03-22 18:47] Clm-Roig commented on #347
J'imagine que tu parles de https://github.com/GrottoCenter/Grottocenter3/issues/733 ? Auquel cas, cette issue ne décrit pas le processus de suppression mais explicite seulement une modification dans la BD. Il faut peut-être retravailler l'issue côté serveur pour qu'elle explique non seulement la modif en BD mais aussi le processus de suppression.

[2022-03-22 19:25] urien commented on #347
Je pensais faire deux tickets coté Back : celui que j'ai fait pour décrire les modifications sur la DB et faire un second ticket, qui décrive l'api et son fonctionnement. Je vais faire ce second ticket dès que possible

[2022-03-22 19:28] urien commented on #342
Je pense que l'édition de la fiche d'un auteur n'est sans doute pas nécessaire. C'est pourquoi je n'ai envisagé qu'une alternative (ton premier cas). Au pire les administrateurs pourront le faire si, à la fin du merge de tous les doublons, on découvre une faute d'orthographe

[2022-03-22 19:40] Clm-Roig commented on #347
Ok parfait !

[2022-03-24 12:15] Clm-Roig commented on #30
@urien Quelle(s) différence(s) faisons nous entre l'affichage d'un réseau et d'une cavité ? J'en vois qu'une mineure c'est la gestion de l'URL.

Je propose que si on requête /caves/:id alors que c'est un réseau, on redirige automatiquement (sans en informer l'utilisateur même ?) vers /networks/:id (et réciproquement).
L'affichage sera fait avec le même composant, je ne parle vraiment que de l'url.

[2022-03-24 12:30] urien commented on #30
Pour un réseau il faut afficher la liste des cavités.. et pour la cavité le réseau eventuel
C'est la seule difference

[2022-03-24 12:54] Clm-Roig commented on #30
Alors de ce que j'ai compris des termes qu'on utilise désormais, il me semble que c'est plutôt :

Sinon je veux bien qu'on mette à jour le document qui décrit [le vocabulaire dans GC](https://github.com/GrottoCenter/Grottocenter3/wiki/Vocabulary).

ça rentre aussi en contradiction avec le document "proposition cavités - réseaux pour Grottocenter V3" :
![image](https://user-images.githubusercontent

[2022-03-24 15:23] urien commented on #30
Pour les utilisateurs (donc le texte qu'on leur propose) il y a des cavités et des réseaux
Les réseaux sont des caves avec plusieurs entrances, donc pas toutes les caves
Les cavités correspondent bien a un ensemble entrance + cave en base de données. Coté api c'est la route entrance qui va fournir les données sur l'entrance et sur la cave associée

[2022-03-24 15:34] urien commented on #30
Je viens de reformuler la description de cavité et réseau

[2022-03-24 16:22] Clm-Roig commented on #30
Ok c'est plus clair.

Juste pour être sûr qu'on s'est compris, on est d'accord que "Pour un réseau, il faut afficher la liste des cavités" c'est au sens "Pour un réseau, il faut afficher la liste des cavités reliées aux entrées du réseau" ? Un réseau c'est une cave avec une liste d'entrances. Après certes, ces entrances sont chacune associées à une cave.
Mais "au premier degré", un réseau a une li

[2022-03-24 16:26] urien commented on #30
Oui. Tu peux mettre comme titre "liste des cavités faisant partie du réseau" et affiche le nom des entrances avec un lien vers la page de l'entrance

[2022-03-25 16:59] #330 closed, assigned to Clm-Roig

[2022-04-02 17:03] Clm-Roig opened #353 "[DUPLICATE TOOL] Document 'parent' attribute is not correctly handled and causes crash"
**Describe the bug**
When a document duplicate has a parent, the whole client crash because it doesn't format it correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a csv document duplicate with the attribut _dct:isPartOf_ set to a Grottocenter document id
2. Navigate to Dashboard > Duplicate Tool
3. Select the duplicate

**Expected behavior**
The duplicates merge interface sho

[2022-04-04 15:17] #353 closed, assigned to Clm-Roig

[2022-04-04 16:23] urien opened #356 "[DUPLICATE TOOLS] After submission the file to be merged remains"
**Describe the bug**
Quand on clique sur le bouton "soumettre", on arrive sur une page avec un bouton "Go Back".
Il serait préférable d'arriver directement sur le tableau avec les fichiers à valider. Cela ferait un clic de moins.

Quand on est redirigé sur le tableau des doublons, après avoir soumis, la fiche qu'on vient de soumettre est encore présente. Il n'est pas possible de la sélectionner po

[2022-04-04 16:36] urien commented on #356
A la fin de ma série, j'ai deux documents que je ne peux pas traiter

[2022-04-04 16:41] urien opened #357 "[DUPLICATE TOOLS] Language management problem"
**Describe the bug**
Quand on est dans l'interface qui permet de fusionner deux fiches, le document présent dans la base apparaît comme ayant une première langue indéfinie. Il est possible de sélectionner la langue venant du document importé et de supprimer la langue associé au document déjà dans la base.
Mais après fusion, si on va voir la fiche du document la langue du document apparait toujours

[2022-04-05 09:37] Clm-Roig commented on #356
Je n'arrive pas à reproduire ce problème sur ma machine. Je suppose que ce qui doit arriver, c'est qu'une erreur apparaît quand tu soumets et donc la suppression du doublon n'a pas lieu. Puis tu es redirigé vers le tableau sans être informé de l'erreur.

Concernant le bouton "Go Back", je pense que c'est la même chose. Chez moi, quand la soumission réussit, je suis correctement redirigé vers le ta

[2022-04-05 09:48] Clm-Roig commented on #357
Je n'arrive pas à reproduire sur ma machine... Le document en base a bien une langue définie chez moi, je peux la sélectionner ou la remplacer par celle du nouveau document comme je veux.

[2022-04-05 09:52] Clm-Roig opened #359 "[API ERROR MANAGEMENT] Refactor and uniformize API errors"
**Is your feature request related to a problem? Please describe.**
Each action handle errors from the API using different methods (makeErrorMessage, throwing error, checking status automatically or manually etc.). We should have a single way of managing API errors.

Errors are stored in Redux store using `failure` type action and then, displayed in the components.
But sometimes they are displayed

[2022-04-05 16:03] urien commented on #357
Je vais faire un test avec le fichier
[test1.csv](https://github.com/GrottoCenter/grottocenter-front/files/8419824/test1.csv)
Je mets à ta disposition le fichier
[test2.csv](https://github.com/GrottoCenter/grottocenter-front/files/8419829/test2.csv)
pour faire le test de ton côté.
L'utilisation de ces fichiers permet de tester également ce qu'il se passe après la validation d'une fusion.

1. J'imp

[2022-04-05 16:29] urien opened #360 "[MAP] Performance issue"
**Describe the bug**
Lorsqu'on utilise la carte le fonctionnement est très ralenti, presque impossible. Ce phénomène perdure si on va sur d'autres parties de l'application Grottocenter. Par contre si on n'utilise pas la carte le fonctionnement de Grottocenter demeure fluide. Cela semble venir à une erreur dans le code qui provoque une fuite de mémoire

**Expected behavior**
Cela empèche d'utiliser

[2022-04-05 18:38] urien commented on #360
Message de @Souterweb
Alors là ... c'est surprenant et intéressant !

Si je démarre avec la fenêtre du navigateur réduite à environ 1/10 de mon écran (qui est un grand 23 pouces) et que j'ouvre ensuite le mode carte, alors je peux lui faire subir toutes les tortures possibles et imaginables Grotto ne plante pas.

Quand je suis sur la zone qui m'intéresse, au niveau de zoom qui me plait, avec la ca

[2022-04-06 08:07] Clm-Roig commented on #360
Ma config : Manjaro Linux / Firefox 97 / écran de 14 pouces / i7 / 12Go de RAM

je n'ai aucun souci, que ce soit en petit ou en grand. J'ai du mal à voir en quoi la taille de l'écran pourrait jouer à part sur une config vraiment "limite" en RAM / GPU / CPU...

Y a juste un truc qui me paraît "normal" : quand j'affiche les organisations et que je suis très dézoomé, mon ordinateur se met à ramer éno

[2022-04-06 08:50] Clm-Roig commented on #357
J'ai trouvé. Le problème ne vient pas de l'outil de gestion des doublons. Le problème vient juste de la page "documents" qui n'affiche pas la langue du tout. Voilà ce que j'ai en production quand j'arrive sur la page :

![image](https://user-images.githubusercontent.com/20704943/161935374-6ebbfd74-e527-446a-b1f0-d25204cc64cf.png)

Le language "fra" est bien renvoyé par le serveur (et il l'est auss

[2022-04-06 08:50] #357 closed, assigned to nobody

[2022-04-06 08:52] Clm-Roig opened #380 "[DOCUMENT PAGE] Language is always displayed as "unknown""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Go on a document details page with a language set (example: grottocenter.org/ui/documents/110596
![image](https://user-images.githubusercontent.com/20704943/161935764-74c83404-a345-4ac3-a6a4-c73fb94b0b50.png)

Language is displayed as unknown even if the server sent the appropriate language.

**Expected beha

[2022-04-06 09:25] Clm-Roig commented on #380
En fait, l'interface cherche un attribut `mainLanguage` dans les données renvoyées. Or, souvent, on n'a pas marqué le seul language du document comme "main".

Ce que je propose, c'est de changer la recherche du mainLanguage d'un document côté serveur :
- s'il y a une seule langue => c'est la "main"
- s'il y en a plusieurs => c'est celle marque "isMain"

Cette issue devient donc une issue côté API.

[2022-04-06 09:37] #380 closed, assigned to Clm-Roig

[2022-04-06 09:38] bsoufflet commented on #360
Ma config :
PopOS (ubuntu), Firefox, ecran 15 pouces, i9, 32Go de ram

J'ai le problème très vite après quelques zooms rapides, deplacement, dezoom sur la carte..
Mon PC se met à souffler et j'ai le message de firefox indiquant que l'onglet est très lent...
Il est ensuite difficile de quitter la map via le menu de gauche...
![image](https://user-images.githubusercontent.com/985903/161944893-20a2bd

[2022-04-06 09:54] Clm-Roig commented on #360
Je viens de lagguer moi aussi finalement sur des zones très chargée et zoomées (comme Benjamin),

Pas de fuite de mémoire signalée par React, l'API répond vite et sans problème. Je pense que c'est dû au recalcul des positions des entrées qui est très coûteux.

[2022-04-06 09:59] Souterweb commented on #360
Le 06/04/2022 à 11:38, Benjamin a écrit :

Je me sens moins seul...

Domi

[2022-04-06 11:54] urien opened #382 "[MASSIF] List of latest contributions"
**Is your feature request related to a problem? Please describe.**
Les utilisateurs ont plaisir a savoir quelles nouvelles informations sont disponibles, les patrouilleurs ont besoin de cette information afin de pouvoir vérifier la pertinence de ces informations. Les gestionnaires de site

**Describe the solution you'd like**
Sur la page du massif faire apparaitre la liste des derniers contributio

[2022-04-06 12:02] urien opened #383 "[MASSIF] mail to leader for contributions"
**Is your feature request related to a problem? Please describe.**
Les leaders (responsables) d'un massif, ont besoin d'être informé régulièrement quand il y a des contributions concernant les documents et les cavités associé au massif dont ils s'occupent

**Describe the solution you'd like**
Les personnes ayant un status de leader disposent dans leur tableau de bord d'un pavé "recevoir des notifi

[2022-04-06 12:17] Clm-Roig commented on #382
ça fait 2 fonctionnalités dans une seule issue, je mettrais bien ça dans une autre issue.

Je suis assez pointilleux mais ça permet d'avoir des Pull Requests (et donc des revues de code) plus petites. On repère plus facilement les problèmes dans le code quand il a 400 lignes à relire 2 fois, à plusieurs jours d'intervalle, plutôt qu'une seule lecture de 800 lignes par exemple.

[2022-04-06 12:21] urien opened #384 "[HOME PAGE] List of latest contributions"
**Is your feature request related to a problem? Please describe.**
Les utilisateurs ont plaisir a savoir quelles nouvelles informations sont disponibles, les patrouilleurs ont besoin de cette information afin de pouvoir vérifier la pertinence de ces informations. Les gestionnaires de site

**Describe the solution you'd like**
Sur la page d'accueil faire apparaitre la liste des derniers contributio

[2022-04-06 12:22] urien commented on #382
C'est fait

[2022-04-06 12:41] Clm-Roig commented on #320
Quel message voudrais-tu @urien ? Sachant que je ne détecte uniquement si l'envoi du formulaire est en cours, indépendamment du fait que ça vienne d'un fichier ou pas. De toute façon, s'il n'y a pas de fichiers ça va très vite et l'utilisateur n'a pas vraiment le temps de quitter la page.

Quelque chose comme :

`Le document est en train d'être créé. Si vous quittez maintenant, il pourrait conteni

[2022-04-06 12:59] urien commented on #320
Peut être déjà un message quand on valide pour demander de ne pas fermer la fenêtre tant que le fichier n'est pas téléchargé. Puis si on demande à fermer la fenêtre le message que tu proposes.

[2022-04-06 12:59] urien commented on #320
Est ce que tu peux en profiter pour passer la taille max des fichiers a 2Go pour les vidéos ?

[2022-04-06 13:09] Clm-Roig commented on #320
Je n'ai pas cette info, je sais juste si ça charge en gros. Je ne peux mettre qu'un seul message pour tout ça. Si tu veux, on peut poursuivre la discussion et tester sur la PR ici : #385

[2022-04-06 13:12] urien commented on #320
En fait c'est rajouter une fenetre au milieu de la page quand on clique sur soumettre, jusqu'à ce que la fenêtre se rafraichisse quand la mise à jour est finie. Je suis en train de récupérer un gros fichier pour faire un test

[2022-04-06 14:06] Clm-Roig commented on #320
Je vois, je fais ça de suite

[2022-04-06 16:18] urien commented on #320
C'est nickel... mais il n'est plus possible d'ouvrir la page de validation des documents. Si c'est un pb indépendant tu peux publier cette issue

[2022-04-06 16:26] Clm-Roig commented on #320
C'est indépendant mais très étrange, une autre issue ouep' !

[2022-04-06 16:26] #320 closed, assigned to Clm-Roig

[2022-04-06 16:29] urien opened #386 "[DOCUMENT] Validation don't work"
**Describe the bug**
Lorsqu'on appelle la page https://grottocenter.org/ui/documents/validation
elle demeure blanche.

J'ai l'impression que c'est lié à la mise à jour de certains plugin
`Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7Bid%2C%20part2b%2C%20part2t%2C%20part1%2C%20scope%2C%20type%2C%20refName%2C%20commen

[2022-04-06 17:11] Clm-Roig commented on #386
Fixed by #388

[2022-04-06 17:11] #386 closed, assigned to nobody

[2022-04-06 17:19] Clm-Roig opened #389 "[MAP] Reducing the left menu makes the map not full screen"
**Describe the bug**
When the left menu is collapsed, the map is translated to take its place. But a white space remains a the right of the screen (see gif below).
Bug is reproducible on every system and browser I think (see "Tested on" below). On smartphones, the bug is visible only if you browse to the map with the left menu open before.

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2022-04-06 18:11] Clm-Roig commented on #17
Je fais un récap, on a un peu avancé au final sur cette issue

Fait :heavy_check_mark:

ça ne me choque pas qu'on puisse y accéder par 2 endroits différents personnellement, je trouve ça pratique de passer par le menu.

Fait :heavy_check_mark:

Ok à faire.

Je préfère le dashboard en premier mais bon, j'ai une utilisation de GC qui n'est pas la même que la majorité je pense :sweat_smile:

Oui pour

[2022-04-06 19:07] urien opened #390 "[DUPLICATE] Imported files should be merged together"
**Describe the bug**
J'ai importé le fichier suivant
[test2.csv](https://github.com/GrottoCenter/grottocenter-front/files/8429819/test2.csv)
Normalement tous les fichiers sont déjà dans la base. Au départ il m'a prévenu que 265 lignes étaient des doublons, puis après l'import que 305 étaient des doublons (les chiffres ne sont peut être pas exacts mais sont différents).

Dans le module permettant d

[2022-04-08 08:57] lageta commented on #342
En plus des infos de bases, il est possible de modifier les documents, les organisations, les cavités explorées ? Pour les organisations on peut simplement se "désinscrire" d'une organisation où l'on peut aussi s'en attribuer une ? (idem pour les documents et les cavités)

[2022-04-08 09:39] urien commented on #342
Toute personne enregistrée peut modifier document organisation, massif ou cavité.
Effectivement lors de l'édition de sa fiche une personne doit pouvoir modifier la liste des organisations dont il fait partie. ou la liste des cavités qu'il a visité (cela me semble être plus simple de le faire depuis la fiche d'une cavité plutôt qu'ici)
Pour les documents la modification va se faire depuis la fiche

[2022-04-08 16:06] urien opened #392 "[CSV IMPORT CAVE] error while reviewing data"
Avec le fichier ci-dessous le clic sur le bouton suivant pour arriver à la revue des données, conduit à une page blanche
[cavetest.csv](https://github.com/GrottoCenter/Grottocenter3/files/8453647/cavetest.csv)

[2022-04-09 07:28] Clm-Roig commented on #392
C'est un problème côté front, je transfère là-bas (et je résous rapidement).

[2022-04-09 07:36] Clm-Roig commented on #392
Le CSV n'est pas bon, il y a un saut de ligne en trop juste avant la description. Voici le fichier corrigé :
[cavetest.csv](https://github.com/GrottoCenter/grottocenter-front/files/8456449/cavetest.csv)

Il y a aussi un petit problème dans le code, je m'en occupe.

[2022-04-09 07:42] Clm-Roig commented on #392
En fait il n'y a pas de problème dans le code. Il y a un deuxième souci dans le CSV.

A la fin, il y a une description en italien ("Il tratto che...") qui est censé être la dernière colonne. Mais juste après, on a une description supplémentaire en français ("Les premiers -100m...") qui n'est pas attendu et cause le crash.

J'ai supprimé cette 2ème description et l'import s'est bien passé. Je ferme

[2022-04-09 07:42] #392 closed, assigned to Clm-Roig

[2022-04-09 07:43] urien commented on #392
Ok, merci.
Désolé pour ces erreurs.
Je refais des tests

[2022-04-09 08:28] Clm-Roig opened #393 "[ARCHITECTURE] Clean folder structure"
### Discussed in https://github.com/GrottoCenter/grottocenter-front/discussions/350

<div type='discussions-op-text'>

<sup>Originally posted by **Clm-Roig** March 24, 2022</sup>
Actuellement, on a l'arborescence suivante :
![image](https://user-images.githubusercontent.com/20704943/159918494-5ab8e994-6a63-46b6-8b7d-cdb7ca5a6f20.png)

Ainsi que la page wiki suivante :
https://github.com/GrottoCent

[2022-04-09 08:32] urien commented on #393
Cela me semble bien. Merci pour cette proposition

[2022-04-09 08:33] Clm-Roig commented on #393
Je me suis permis de me lancer là-dans après discussion et approbation de Benjamin et Clément comme expliqué ici => https://github.com/GrottoCenter/grottocenter-front/discussions/350

[2022-04-09 09:17] lageta commented on #342
Dans éditer la personne on aurait une liste des documents/cavités où chaque élément redirige vers une page pour éditer ce document/cavité  ?
On peut alors envisager des actions rapides dans cette liste comme supprimer un document sinon cette liste sera essentiellement de la redirection… Pour les cavités il y a une variable isPublic, on peut aussi imaginer pouvoir rendre facilement une cavité explo

[2022-04-09 09:29] urien commented on #342
L'édition des documents, des cavités, des organisations, des massifs est possible par tout le monde depuis la page de ces entités

[2022-04-09 09:31] urien commented on #342
Donc sur la page des personnes il n'y aura qu'il liste de liens vers les entités liées.
Il faut réfléchir à la manière de gérer ces listes qui peuvent être très volumineuses

[2022-04-09 23:46] #393 closed, assigned to Clm-Roig

[2022-04-11 06:49] urien opened #395 "[QUICK SEARCH] multiple results without url"
dans la recherche rapide on obtient plusieurs fois le même résultat mais seul le dernier a un lien vers la fiche correspondante
![image](https://user-images.githubusercontent.com/1165144/162680602-61085e84-ff71-411c-aa46-2b40cf2d9a4c.png)

[2022-04-11 11:34] urien opened #396 "[HOME PAGE] remove V2 reference"
Le nombre de cavités fait encore référence à la V2 la valeur juste est la seconde
![image](https://user-images.githubusercontent.com/1165144/162731252-5f42ead0-7eb5-4bbe-acfd-71c45a7bf491.png)

[2022-04-11 12:22] lageta commented on #18
Est-ce que l'on devrait faire apparaître l'appartenance de la personne à un ou plusieurs groupes (Administrator,
Moderator, User, Visitor, Leader) ?

[2022-04-11 12:29] urien commented on #18
Pourquoi pas. C'est une bonne idée. Les visiteurs n'ont pas de compte et les personnes qui ont comme mel no@mail.com (ou un truc de ce genre) sont des auteurs

[2022-04-11 12:32] Clm-Roig commented on #18
Pour être précis, la règle avec les dernières modifs (https://github.com/GrottoCenter/Grottocenter3/pull/764) c'est que les cavers avec un email qui finit en `@mail.no` sont des auteurs et les autres des utilisateurs.

[2022-04-11 14:35] Clm-Roig commented on #396
Closed by #400

[2022-04-11 14:35] #396 closed, assigned to nobody

[2022-04-11 14:39] Clm-Roig commented on #395
Les deux premiers résultats sont des "caves", le 3ème est une "entrance".  Mon hypothèse est donc que la redirection vers les caves ne fonctionnent pas.

[2022-04-11 14:41] urien commented on #395
La solution sera de supprimer la recherche sur les caves et de la remplacer, éventuellement, par une recherche sur les réseaux

[2022-04-11 14:44] Clm-Roig commented on #395
On n'a pas encore de page "networks" pour rediriger quand on clique dessus...
2 solutions :
- on garde la recherche sur les "caves" et je fixe le bug qui empêchait la redirection (c'est déjà fait)
- on supprime la recherche sur les "caves"

[2022-04-11 14:46] urien commented on #395
Plutot supprimer la recherche sur les caves. On se retrouve avec deux fois la même référence sans savoir a quoi correspond chacune d'elles

[2022-04-11 15:35] #395 closed, assigned to Clm-Roig

[2022-04-11 18:42] #331 closed, assigned to Clm-Roig

[2022-04-11 19:01] urien commented on #390
Je viens d'utiliser l'outil d'import via csv pour des entrées. Elles se retrouvent dans l'outil de gestion des doublons. J'ai pu supprimer la première ligne mais ce n'est pas possible pour les suivantes

[2022-04-11 22:33] bsoufflet commented on #360
@Clm-Roig @maximenathan : J'ai fait un peu d'investigation sur ce problème.
Je réussis à le reproduire facilement dès que je passe à un niveau de zoom où l'on affiche les markers des entrées (et plus le clustering) et lorsqu'il y a beaucoup de markers.
Le problème ne semble donc pas venir de la fonction de clustering.

En faisant des recherches je suis tombé sur cela :  https://stackoverflow.com/q

[2022-04-12 05:31] urien commented on #360
Cela me semble être une bonne solution pour résoudre le pb relevé rapidement

[2022-04-12 06:56] Clm-Roig commented on #360
Bonne idée, je suis d'accord avec tout. Par contre je ne maîtrise pas du tout le code de la carte... Je viens d'y jeter un coup d'oeil et de prime abord je ne vois pas comment faire pour les popups.

[2022-04-14 05:39] urien opened #404 "[ENTRANCE PAGE] Creation / Editing Entrance history"
Depuis la page d'une cavité mettre en place la possibilité de créer un historique à partir d'un bouton.
Et pour les historiques existants mettre en place un bouton permettant d'éditer cet historique.

Ces fonctionnalités sont accessibles pour toutes les personnes connectées

Un historique est constituée d'un titre, d'un texte et de la langue utilisée pour cette description. Il faudra faire figurer

[2022-04-14 05:44] urien opened #405 "[ENTRANCE PAGE] Creation / Editing Entrance rigging"
Depuis la page d'une cavité mettre en place la possibilité de créer un tableau décrivant l'équipement nécessaire, à partir d'un bouton.
Et pour les tableaux d'équipement existants mettre en place un bouton permettant de les éditer.

Ces fonctionnalités sont accessibles pour toutes les personnes connectées

La fiche d'équipement prend place dans un tableau d'un titre et d'une langue. Le tableau ser

[2022-04-14 05:57] urien opened #406 "[ENTRANCE PAGE] Creation Entrance comments"
Depuis la page d'une cavité mettre en place la possibilité de créer un commentaire à partir d'un bouton.

Cette fonctionnalité est accessible pour toutes les personnes connectées.

Un commentaire est constitué d'un titre, d'un texte et de la langue utilisée pour ce commentaire.
Il comporte également le temps nécessaire pour accéder à la cavité et le temps passé sous terre (exprimés en heures).
Il

[2022-04-14 06:12] Souterweb commented on #405
Pour les fiches d'équipement actuellement visibles sur Grottocenter V3
j'ai remarqué des soucis de mise en page.
Certaines tabulations ou mises en forme des tableaux des fiches
d'équipement de l'ancienne V2 ont été mal "interprétés" par des "\n".
Hélas comme je n'ai pas les anciennes fiches V2 je ne sais pas à quoi ça
correspond.

Pour mieux comprendre voir ci-dessous :

Domi

Le 14/04/2022 à 07:4

[2022-04-14 08:14] Souterweb opened #407 "[ENTRANCE] Add coordinates precision information (Create/Edit)"
###  Ticket permettant de faire la synthèse des réflexions sur la gestion de la précision des coordonnées pour les utilisateurs de grottocenter.org
La réflexion est en cours

**Problème** : comment informer l’utilisateur de la précision relative des coordonnées indiquées pour une cavité, en complément de ce qui est réalisé pour gérer les cavités "a acces restreint" #299

Il conviendrait de disting

[2022-04-14 08:59] Clm-Roig commented on #407
C'est un doublon (partiel) avec #299.
Est-ce que vous pouvez mettre les infos qui sont ici mais pas là-bas sur l'autre issue svp ?

[2022-04-14 09:52] urien commented on #407
Pour moi c'est un développement différent qui ne sera pas pris en charge dans le cadre de la gestion des cavités sensibles.
Ce ticket vise à demander qu'une solution soit trouvée pour saisir des informations dans le cas précis

- des coordonnées mesurées avec un GPS (quel qu’il soit) et saisies manuellement par un utilisateur en ligne sur Grottocenter

Ce ticket permettra de prendre en compte cett

[2022-04-14 10:49] Souterweb commented on #407
Le 14/04/2022 à 10:59, Clément Roig a écrit :

OUPS !

C'est la première fois que je me sers de Github pour ajouter un sujet.
Je crains fort de ne pas savoir compiler deux pages différentes.

Domi

[2022-04-14 10:50] Souterweb commented on #407
Mince, ce que j'ai répondu par mail est venu se mettre ici tout seul...
Je ne sais pas encore me servir de ça.

[2022-04-14 10:51] urien commented on #407
Je ne souhaite pas que ce soit compilé. C'est un pb différent, je vais réécrire le ticket

[2022-04-14 10:52] Clm-Roig commented on #407
Il faut alors définir les limites des deux tickets @urien, les renommer et modifier leur contenu.

On peut tous éditer nos messages postés ici @Souterweb. L'idéal est de synthétiser dans le premier message l'objet précis de cette issue, en supprimant ce qui est déjà présent sur l'autre issue (et vice versa).

[2022-04-14 10:55] Clm-Roig commented on #407
Une issue doit être simple et atomique. Je vais préciser ma compréhension des questions soulevées ici

@urien tu parles par exemple de la saisie de données issues d'un GPS => on est dans la création où l'édition de cavité (édition qui n'existe pas encore d'ailleurs, dur du voir claire..)

Le reste de l'issue concerne la visualisation des coordonnées sur la page de détails d'une cavité.

[2022-04-14 11:29] urien commented on #407
Salut @Clm-Roig , la saisie des données issues d'un GPS fonctionne sur l'application mobile qui a été développée l'an dernier. Elle n'a pas été mise en production car il fallait que la base de donnée soit mise à jour ce qui a été fait.  Normalement Benjamin doit mettre cette application en test puis sur le play store.

[2022-04-15 12:28] Clm-Roig commented on #407
On est sur le client web ici, pas sur l'application mobile. Le code des deux est complètement indépendant...

[2022-04-15 15:07] urien commented on #407
C'est pour expliquer que le champ sur la précision des coordonnées va être peuplé depuis l'application dans les prochaines... semaines

[2022-04-16 09:35] #5 closed, assigned to Clm-Roig

[2022-04-18 14:54] urien opened #410 "[ENTRANCE] Split the entrance page in two pages"
**Is your feature request related to a problem? Please describe.**
To limit the loading time of the page of a cave and to keep easy access to information even if their volume increases, the page of the caves will be separated into two

**Describe the solution you'd like**
The current page will be accessible at ui/entrances/:id
It will present the same as the current page with a button on the left

[2022-04-18 15:01] urien opened #411 "OBSERVATIONS] Create / Edit"
**Describe the solution you'd like**
A human activity includes a title, a description, the language of this title and this description. It must be associated with a type of human activity.
A cave can be associated with several human activities.
Each human activity, once created, can be associated with an existing document in the BBS on Grottocenter or with a document that has been created from the

[2022-04-18 15:09] urien opened #412 "[ADVANCED SEARCH] Observations"
**Is your feature request related to a problem? Please describe.**
The implementation of observations requires the development of a research tool on this object

**Describe the solution you'd like**
Creation of a new tab in the advanced search for observations.
The fields on which the search is possible would be
Text in title and description
Observation type
Differents human activity types if the

[2022-04-18 15:21] urien opened #413 "[HOME PAGE] Count the observations"
**Is your feature request related to a problem? Please describe.**
The promotion of the tool for collecting observation data involves displaying the number of observations available on Grottocenter

**Describe the solution you'd like**
Addition, on the home page in the "Grottocenter in figures" section, of the number of observations available

[2022-04-19 08:26] lageta commented on #340
Lors de la création d'un massif, la création d'un polygone n'est pas obligatoire ?

[2022-04-19 08:45] urien commented on #340
Il me semble préférable de le rendre obligatoire, idem lors de l'édition quand il n'y en a pas. Quel est ton avis @bsoufflet ?

[2022-04-19 14:42] lageta commented on #340
Autre question qui a le droit de créer/éditer un massif ? Tous les utilisateurs ? Seulement les admins ? Les utilisateurs avec une condition spécifique ?

[2022-04-19 14:55] urien commented on #340
Tous les utilisateurs (connectés)

[2022-04-19 22:54] bsoufflet commented on #340
![image](https://user-images.githubusercontent.com/985903/164114254-f8ff9de3-6829-4bf9-8b29-843060fdb66d.png)
Dans le modèle de BDD ce n'est pas obligatoire. Cependant, cela me semble judicieux comme le propose @urien de le rendre obligatoire coté front en imposant la saisie lors de la création et de l'édition.

[2022-04-20 14:12] Clm-Roig commented on #390
Ça devrait marcher désormais, tu pourras fermer l'issue après tes tests @urien stp ?

[2022-04-20 14:12] Clm-Roig commented on #356
Ça devrait marcher désormais, tu pourras fermer l'issue après tes tests @urien stp ?

[2022-04-22 06:10] urien commented on #390
Résolu

[2022-04-22 06:10] #390 closed, assigned to nobody

[2022-04-22 06:10] urien commented on #356
Résolu

[2022-04-22 06:10] #356 closed, assigned to nobody

[2022-04-24 22:58] bsoufflet opened #417 "[MAP] - Performance improvement"
When zooming at the entrance marker level on area with a lot of entrances (200+ markers) we could improve the performance by :
- making the markers lighter (simple circle instead of image icon marker) ?
- not attaching an already rendered popup and a tooltip to each marker and instead create the popup when we click the marker
- OR do not attach the popup to each marker if there is too much markers

[2022-04-25 22:42] #360 closed, assigned to bsoufflet, maximenathan

[2022-04-26 05:31] urien opened #418 "[Home Page] Add user guide ling in footer"
**Is your feature request related to a problem? Please describe.**
Nous venons de créer les pages "mode d'emploi", il faut créer un lien pour y donner accès

[2022-04-26 05:45] Souterweb commented on #418
Le 26/04/2022 à 07:32, Urien a écrit :

Nous "sommes en train de créer" pour être plus précis...   ;o)

Domi

[2022-04-26 08:30] #418 closed, assigned to urien

[2022-04-29 05:10] Domi-le-webmaster opened #421 "[CAVE PAGE] Amélioration de la lisibilité de la page cavité (Improvement of the readability of the cave page)"
_English below_

**Objectif** : rendre la page des infos détaillées d'une cavité plus facile à lire pour les personnes ayant de petits soucis de vue (mais aussi pour les autres).

**Constat** : la lisibilité de la page détaillée est actuellement un peu particulière. En effet les titres jaunes des "chapitres" sont très gros (aussi gros que le nom de la cavité du bandeau de gauche) alors que le text

[2022-05-05 20:12] lageta commented on #340
![image](https://user-images.githubusercontent.com/74241345/167016469-66b2233d-c7f9-414f-8c1a-7635f785896c.png)
![image](https://user-images.githubusercontent.com/74241345/167016647-1e281d3f-0ad1-4353-90d2-8c5d098f859c.png)

@urien  @Clm-Roig  @bsoufflet
Voilà je poste des designs pour valider avec vous les schémas et surtout les labels pour les traductions. Pour la création de massif on aurait qu

[2022-05-05 20:39] urien commented on #340
C'est bien. Pour les documents, partir d'une recherche est une bonne idée. On va rechercher des documents qui parlent du massif

[2022-05-05 23:08] bsoufflet commented on #340
@urien @lageta : Comme je le proposais dans une autre discussion, il ne me semble pas pertinant de perdre du temps de dev à vouloir gérer manuellement des relations entre des massifs et des documents. Pour moi il faut faire cela de manière automatique :
- on a des relations entre des documents et des cavités
- on connait la position géographique des cavités et l'emprise des massifs
- > donc via un

[2022-05-06 16:35] urien opened #435 "[NETWORK - CAVE] Edit"
Un bouton sur la page des réseaux, identique a celui existant sur la page des entrées permet d'ouvrir une fenêtre permettant de changer :

- le nom de la cave (name)
- la profondeur (depth)
- le développement (length)
- la valeur du champ isDiving

Valider la modification fait recharger les données de la cavité / réseau depuis le serveur et le ré-affiche (comme pour l'entrée).

[2022-05-06 16:41] urien opened #436 "[Entrance Edit] Change cave"
### Needs https://github.com/GrottoCenter/Grottocenter3/issues/852 to be done before

**Is your feature request related to a problem? Please describe.**
Lors qu'on édite une cavité il doit être possible de raccorcher l'entrée à un réseau ou de la changer de réseau

**Describe the solution you'd like**
Depuis la fenêtre d'édition, à coté de la mention présente sur l'image ci-dessous ajouter un bout

[2022-05-06 16:43] urien opened #437 "[Entrance show] indicate the name of the network to which the cave belongs, if it exists"
Le nom du réseau sera indiqué dans la partie informations générales, si la cavité fait partie d'un réseau. le clic sur le nom du réseau ouvrira la page correspondante dans une nouvelle fenêtre

[2022-05-06 16:46] urien opened #438 "[ENTRANCE Edit] Edit cave properties should be more explicit"
Si l'entrée fait partie d'un réseau, il n'est actuellement pas possible d'éditer les informations liées au réseau depuis la page d'édition de l'entrance.
Il faudrait rendre cela possible en modifiant l'affichage de manière a faire à apparaitre de manière claire que les informations modifiées concernent le réseau et pas seulement l'entrée sur laquelle l'édition réalisée

[2022-05-07 09:07] Clm-Roig commented on #436
Je précise, comme discuté il y a quelques semaines, qu'il me paraît judicieux de faire ce développement dans un composant dédié à ce changement de réseau (ce qui ne contredit pas le premier message de cette issue). Plusieurs raisons à cela :
- C'est une opération lourde de conséquences. Il faut explique très précisément ce que ça implique avec un long texte et demander confirmation à l'utilisateur

[2022-05-07 09:08] Clm-Roig commented on #437
Tâche très rapide et simple normalement. Il suffit de s'inspirer de ce qui a été fait pour l'attribut massif qui lui aussi comporte un lien vers une page.

Attention toutefois à n'indiquer le nom du réseau que quand il s'agit d'un... réseau ! (et pas d'une cave avec une seule entrée)

[2022-05-11 11:34] bsoufflet opened #445 "Add a loading screen while the react app is preparing and JS is loading"
The Grottocenter front app is slow to load due to large javascript file to load the first time (then in cache) and due to the react DOM rendering.

We should maybe display a loading screen instead of a white page which may feel like a bug.

Maybe this solution could work while waiting for the React app to render all components : https://betterprogramming.pub/a-quick-and-easy-react-js-loading-scree

[2022-05-11 17:09] #340 closed, assigned to lageta

[2022-05-12 19:00] lageta commented on #341
![image](https://user-images.githubusercontent.com/74241345/168148052-6aa03732-8dc3-4f36-b258-1c5a3eb52e37.png)

J'ai relevé quelques incohérences avec la base de données :

- Il est question de deux adresses mais un seul champs est dans la base données
- On parle de description avec un titre et un texte mais dans le modèle de données les grottos n'ont pas de descriptions. Est-ce que c'est le cust

[2022-05-12 19:06] lageta commented on #341
Il me faudrait plus d'informations sur les licenses également. Concrètement qu'est ce que je peux afficher dans la partie "Validation".

[2022-05-13 05:51] urien commented on #341
Effectivement, dans l'idéal il aurait fallu deux champs adresse et il aurait fallu associer les organisations à la table des descriptions.
Je propose de rester sur une ligne d'adresse et d'utiliser le champ custom message.
Les champs village,... sont des champs qui étaient présents dans la base de la version précedante de Grottocenter. Dans l'immédiat on ne les supprime pas, on verra si on s'en se

[2022-05-13 11:12] VivienLvr commented on #345
@urien Les organisations ont-elles des entrées parrainées ou des réseaux parrainés ? C'était affiché sur la page organisation déjà en place mais vous ne l'avez pas mentionné et je ne trouve pas d'organisation ayant des entrées ou réseaux parrainés.

[2022-05-13 13:25] urien commented on #345
C'est quelque chose qu'on avait dans la V2 de Grottocenter.
Ce n'est pas essentiel et cela demanderait du dev côté back car seuls les admins peuvent réaliser cette association.
Je propose de supprimer cet affichage et de le remettre en place ultérieurement dans un développement spécifique

[2022-05-13 15:19] Clm-Roig commented on #445
Why not rendering a spinner directly in the index.html file ? And remove it when the window is ready using vanilla JS :

[code]

[2022-05-14 11:29] VivienLvr commented on #345
D'accord je l'enlèverai de la page pour l'instant dans ce cas.

[2022-05-15 08:44] #18 closed, assigned to VivienLvr

[2022-05-15 09:28] Clm-Roig commented on #436
L'API n'est pas prête pour cette feature. J'ai quelques questions à ce propos là-bas : https://github.com/GrottoCenter/Grottocenter3/issues/852

[2022-05-15 09:45] urien opened #450 "[document show] add link for Author, editor, massif..."
Pour valoriser le travail réalisé par Jodie, Axel et Vivien il faudrait que l'indication des auteurs, des éditeurs, des bibliothèques sur la page decrivant un document, soit transformés en lien vers les pages correspondantes.
Je pense que cela apporterait aussi une plus value importante au BBS

[2022-05-15 22:15] bsoufflet commented on #436
Dans le cas du déplacement de la dernière entrée d'un réseau A vers un autre réseau B on se retrouve donc avec une suppression du réseau A (comme précisé dans l'issue de back). Il serait bon coté front de détecter ce cas et de mettre un message clair.
en effet, rien ne sera réellement perdu grace à notre is_deleted mais il faudra :
- lié le réseau A au réseau B (en cas d'accès à l'ancienne URL pou

[2022-05-17 08:01] lageta opened #453 "[MASSIF] have id in update massif"

[2022-05-17 12:46] Clm-Roig opened #455 "[ENTRANCE PAGE] Entrance is not reloaded when changed"
**Describe the bug**
Quand on arrive sur la page de détails d'une entrée de cavité, c'est toujours la même entrée qui est chargée (à moins que l'on ait ouvert une page dans un autre onglet).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://grottocenter.org/ui/massifs/258
2. Click on one entrance.
3. Go back using your browser "back" feature.
4. Click on another entrance.
5. The

[2022-05-18 05:09] #30 closed

[2022-05-18 05:13] Clm-Roig opened #459 "[REFACTOR] Some ideas"
Here are some duplicated things in the client:
- Descriptions / Documents / Locations etc. right panel components. They are duplicated in Entrance & Network pages for example.
- Entrances & Networks list. There are independent components but they are not really used: merge them.
- PropTypes. We use the same ones everywhere, with slight changes only. Marking some properties required and refactoring

[2022-05-18 05:37] #455 closed, assigned to nobody

[2022-05-18 05:41] #453 closed, assigned to lageta

[2022-05-18 06:10] Clm-Roig commented on #261
On peut fermer ça @urien non ? Désormais la création de cavité inclue les 2 cas.

[2022-05-18 11:40] urien commented on #261
Question traitée

[2022-05-18 11:40] #261 closed, assigned to nobody

[2022-05-18 18:21] urien opened #463 "[LEADER DASHBOARD] Notification list"
Les fédérations, les gestionnaires de sites, les responsables de Wikicaves doivent pouvoir recevoir des notifications quand de nouveaux contenus sont ajoutés ou des modifications interviennent sur des cavités situées dans les pays ou dans les massifs de leur choix.

Une nouvelle carte, accessible aux personnes ayant le status de leader, leur permet de faire une recherche et de sélectionner plusieu

[2022-05-19 13:21] Clm-Roig commented on #301
Fixed by #462

[2022-05-19 13:21] #301 closed, assigned to hafidinferno

[2022-05-19 14:23] #345 closed, assigned to VivienLvr

[2022-05-20 05:25] Domi-le-webmaster opened #465 "[CARD VIEW] Redimensionnement de la carte en plein écran (Resize the map to full screen)"
_English below_

**Problème** : En mode carte, lorsqu'on replie la frame du menu de gauche pour disposer d'une meilleure lisibilité, une partie de l'écran du côté droit reste blanche, la carte n'occupe donc pas la totalité de l'espace écran disponible.

**Remarque** : Cette partie blanche inoccupée à droite fait exactement la surface de la frame de menu de droite qu'on vient de fermer.

**Situatio

[2022-05-21 13:40] urien commented on #383
same as [#463](https://github.com/GrottoCenter/grottocenter-front/issues/463)

[2022-05-21 13:40] #383 closed, assigned to nobody

[2022-05-22 07:47] Clm-Roig commented on #435
Fixed by #460

[2022-05-22 07:47] #435 closed, assigned to nobody

[2022-05-24 06:33] urien opened #475 "[Entrance view] Bug on document presentation"
Les documents associés à une cavité étaient présentés de manière complète avec le nom du document, le type de document un lien vers le fichier s'il existe et la licence qui s'applique.
Désormais ce n'est plus le cas
![image](https://user-images.githubusercontent.com/1165144/169964204-1517303e-2095-4f9b-a5d3-a480c33bcb91.png)

[2022-05-24 07:29] Clm-Roig commented on #465
Doublon de #389, je ferme ici 🙂

[2022-05-24 07:29] #465 closed, assigned to nobody

[2022-05-24 07:30] Clm-Roig commented on #475
J'ai corrigé ce bug côté API il y a quelques jours. Au prochain déploiement de celle-ci ce sera réglé 😉

[2022-05-24 07:30] #475 closed, assigned to nobody

[2022-05-24 12:13] #341 closed, assigned to lageta

[2022-05-26 07:38] #308 closed

[2022-05-26 21:16] bsoufflet commented on #329
Comment from @BTHOM regarding Picto to improve :

[2022-05-26 21:27] bsoufflet opened #478 "[ENTRANCE] Add "average rating" above general rating"
il faudrait indiquer une mention "Cotations moyennes" (dans la même petite police que "Localisation" ou "Coordonnées") au dessus du triplet des cotations de gauche.

In english : "average rating"

![image](https://user-images.githubusercontent.com/985903/170582865-ade10611-2241-4fb1-b922-1c82ead9c71a.png)

[2022-05-29 11:55] lageta opened #479 "Refactor-caves&massifs-PostGis"
Ce bout de code risque de casser pas mal de choses côté client où l'on accède au massif avec `entrance.massif` en espérant en avoir qu'un seul... On ne pourra pas merger cette PR tant que le client n'aura pas intégré ce changement.

_Originally posted by @Clm-Roig in https://github.com/GrottoCenter/Grottocenter3/pull/831#discussion_r862384181_

[2022-05-29 12:02] Clm-Roig commented on #479
Pas besoin de créer une issue : une fois que j'ai validé ta PR, j'irai faire la modif sur le front avant de merger la-dite PR côté API 😉

[2022-05-29 12:02] #479 closed, assigned to nobody

[2022-05-29 12:40] Clm-Roig opened #480 "[LEADER DASHBOARD] Notification list"
Les fédérations, les gestionnaires de sites, les responsables de Wikicaves doivent pouvoir recevoir des notifications quand de nouveaux contenus sont ajoutés ou des modifications interviennent sur des cavités situées dans les pays ou dans les massifs de leur choix.

Il est donc nécessaire de créer un tableau de bord "leader" qui liste toutes ses notifications. Pour chaque notification, il est poss

[2022-05-29 12:42] Clm-Roig opened #481 "[SUBSCRIPTIONS] Manage massifs & countries subscriptions"
Un leader peut, via son tableau de bord, s'abonner à des massifs ou des pays pour recevoir des notifications à son propos.

Voir https://github.com/GrottoCenter/Grottocenter3/issues/880 pour les routes disponibles pour s'abonner / désabonner.

[2022-05-29 12:43] Clm-Roig commented on #463
Je ferme au profit de #480 et #481 qui divise le problème en deux (gestion des abonnements et affichage des notifications).

[2022-05-29 12:43] #463 closed, assigned to nobody

[2022-05-29 12:52] lageta commented on #479
Super ça va me faire économiser du temps ! Merci beaucoup ^^

[2022-05-30 12:21] urien opened #482 "[Entrance] problem to visualize some data"
Un utilisateur souhaite visualiser la  page d'une entrée
https://grottocenter.org/ui/entrances/13

Quand il n'est pas connecté la page ne s'affiche pas
![image](https://user-images.githubusercontent.com/1165144/170991031-b219d594-e7b3-4e08-989d-68da3b9c87c4.png)

Quand il est connecté certaines données ne s'affichent pas
![image](https://user-images.githubusercontent.com/1165144/170991220-61876662

[2022-05-30 12:41] #346 closed, assigned to VivienLvr

[2022-05-30 15:31] Clm-Roig commented on #482
Cette cavité est sensible, il ne peut donc pas la visualiser sans être connecté.

Je n'arrive pas à reproduire le souci d'affichage par contre. A-t-il essayé d'actualiser la page ? Est-ce que le bug est toujours présent ? Sur quel navigateur est-il ? (c'est plus déterminant que l'OS 😉)

[2022-05-31 06:05] urien commented on #482
Le pb a été observé avec Edge. Je viens de tester et pour moi cela fonctionne normalement

[2022-05-31 08:32] #436 closed, assigned to Clm-Roig

[2022-05-31 11:30] Clm-Roig commented on #482
Pareil, pas de problème sous Edge... Je ferme pour le moment, si jamais tu as plus d'infos, n'hésite pas à réouvrir.

[2022-05-31 11:30] #482 closed, assigned to nobody

[2022-06-02 16:50] #450 closed, assigned to Clm-Roig

[2022-06-03 14:47] #299 closed, assigned to Clm-Roig

[2022-06-04 19:24] urien opened #489 "[Organization view] GC don't work"
**Describe the bug**
https://grottocenter.org/ui/organizations/83

Pour cette organisation Grottocenter plante et offre un écran blanc

[2022-06-04 19:31] Clm-Roig commented on #489
Je suis dessus !

[2022-06-04 20:23] #489 closed, assigned to Clm-Roig

[2022-06-05 22:43] bsoufflet commented on #404
Pas de titre en BDD.

[2022-06-05 22:43] bsoufflet commented on #404
Je reprend ce ticket @Taha949 @hafidinferno @urien @Clm-Roig

[2022-06-06 00:35] bsoufflet commented on #41
Je reprends cette tache également. J'ai presque terminé :)

[2022-06-06 17:11] urien opened #494 "[location edit] Editing possible without being connected"
Lorsqu'on n'est pas connecté (visiteur) le bouton d'édtion des location est actif, la fenêtre d'édition s'ouvre... Mais l'édition n'aboutit pas... Ouf

Il faudrait que ces boutons d'éditions soient masqués comme les autres boutons de création et d'édition, quand on n'est pas connecté

[2022-06-10 11:00] urien commented on #437
Voila ce que cela pourrait donner
![image](https://user-images.githubusercontent.com/1165144/173051508-4f98e739-016e-479d-adbe-b9b83e8dd11e.png)

[2022-06-10 11:08] urien opened #495 "[ENTRANCE PAGE] Associate an existing document with the entrance"
Un bouton permet d'ouvrir une fenêtre correspondant à la recherche avancée sur les document.
Il faut que l'on puisse selectionner un des documents proposer et lorsqu'on valide l'entrance est associée à ce document, ce qui permet son affichage dans la liste des documents

[2022-06-10 11:14] urien opened #496 "[DOCUMENT PAGE] link on author name"
Sur la page des documents faire que le nom de chaque auteur devienne un lien vers la fiche de l'auteur

![image](https://user-images.githubusercontent.com/1165144/173053269-b71b347e-5d17-4082-9c83-af7275f8b3a8.png)

[2022-06-15 15:55] urien opened #499 "[CREATE CAVE] remove from entity creation menu"
On ne doit pas avoir de possibilité de créer une cavité (ou un réseau) dans le menu de création des entités.
Jusqu'à présent on avait un message indiquant que la fonctionnalité n'est pas disponible, désormais la fenêtre est active et cela semble être la fenêtre de création d'une organisation
![image](https://user-images.githubusercontent.com/1165144/173871871-3d3da56a-fd17-4746-8016-4f5cda9438a8.p

[2022-06-20 06:35] Souterweb opened #622 "Missing translations"
Voici les chaînes de caractères qui, en date du 27/07/2022 ne sont pas encore traduites en français mais qui n'apparaissent pas encore comme "à traduire" dans Transifex :

- [x] sur la page de création d'une nouvelle entité (https://grottocenter.org/ui/entity/add) > "Organization"
- [x] sur la page 1 de création d'une nouvelle cavité (https://grottocenter.org/ui/entity/add) > "Custom message"
- [x

[2022-06-20 08:28] urien commented on #622
Peux tu transférer vers une issue sur le front ?

[2022-06-20 14:48] Souterweb commented on #622
Le 20/06/2022 à 10:28, Urien a écrit :

Heuuu...

Transférer quoi vers où ?

J'ai bien peur de ne pas encore savoir faire ça.

Github et moi on en est au tout début de notre relation...    ;o)

Domi

[2022-06-22 13:39] urien opened #648 "[Document view] make the identifier clickable if it's a url"
It would be great if we could click and reach the site, when the identifier is a URL

![image](https://user-images.githubusercontent.com/1165144/175042400-05dee41d-0b72-4dbf-bfaa-365d623eb168.png)

This service would be particularly useful in the context of the work we are doing with the University of South Florida, which provides us with data present in its database (KIP)

[2022-06-26 15:15] Souterweb commented on #622
Je complète la liste directement en haut de cette page au fur et à mesure que je trouve des textes non traduits.

[2022-07-08 08:11] #499 closed, assigned to nobody

[2022-07-08 10:35] urien commented on #478
done

[2022-07-08 10:35] #478 closed, assigned to hafidinferno

[2022-07-14 05:29] #495 closed, assigned to Clm-Roig

[2022-07-15 22:49] #41 closed, assigned to bsoufflet

[2022-07-15 22:49] #404 closed, assigned to bsoufflet

[2022-07-15 22:49] #494 closed, assigned to bsoufflet

[2022-07-20 13:19] urien opened #661 "[Entrance page] Internal link on creator nickname"
Sur la page des entrées on indique le créateur du document de la cavité.
https://grottocenter.org/ui/entrances/1
Il faudrait rendre ce nom cliquable de manière a ouvrir la page de cette personne
![image](https://user-images.githubusercontent.com/1165144/179991943-1e9f20ff-5d4f-431d-8998-d0f161f21e76.png)
Il faudrait faire le même ticket pour les modules acces, description, historique de manière a

[2022-07-20 13:21] urien commented on #406
Done

[2022-07-20 13:21] #406 closed, assigned to bsoufflet

[2022-07-20 13:24] urien commented on #17
Ce sujet nécessite une nouvelle réflexion et la rédaction d'un nouveau ticket

[2022-07-20 13:24] #17 closed, assigned to BastienBoymond

[2022-07-21 09:47] urien opened #662 "[Entrance Create Edit] Easier to understand selection"
**Is your feature request related to a problem? Please describe.**
Lorsqu'on sélectionne le fait de masque ou non la localisation, la relation peu claire entre vrai/faux et la phrase au dessus provoque des incompréhensions

**Describe the solution you'd like**
Supprimer Vrai / Faux et le remplacer par le texte qui est au-dessus
![image](https://user-images.githubusercontent.com/1165144/180184003-2

[2022-07-21 16:52] urien opened #663 "[Document show] Page is not loading"
**Describe the bug**
Quand on demande à voir un document la page reste blanche.
C'est très ennuyeux...  lundi j'ai présentation du BBS au congrès

[2022-07-21 16:55] Clm-Roig commented on #663
C'est certainement ma faute, je regarde très rapidement.

[2022-07-21 17:18] Clm-Roig commented on #23
It can be very useful to start with Cypress with a basic test : navigate to all page to verify they all load (and, thus, are not broken).
This will prevent some issues such as #663 and will not be difficult to be done.

[2022-07-21 17:27] urien commented on #663
Pour moi cela ne fonctionne toujours pas
https://grottocenter.org/ui/documents/16106

[2022-07-21 17:29] Clm-Roig commented on #663
Ce n'est pas encore déployé, je revérifie dans quelques minutes quand c'est le cas et je ferme si c'est ok

[2022-07-21 17:29] urien commented on #663
Merci

[2022-07-21 17:31] Clm-Roig commented on #663
C'est bon !

[2022-07-21 17:31] #663 closed, assigned to Clm-Roig

[2022-07-21 17:32] urien commented on #663
Ouf !

[2022-07-21 18:09] #662 closed, assigned to Clm-Roig

[2022-07-28 08:18] urien commented on #437
Un exemple de réseau https://grottocenter.org/ui/caves/75678
Les cavités de ce réseau
https://grottocenter.org/ui/entrances/7625
https://grottocenter.org/ui/entrances/11730
https://grottocenter.org/ui/entrances/11731

[2022-07-28 17:56] Souterweb commented on #437
Le 28/07/2022 à 10:18, Urien a écrit :

Pas mal du tout...

Ce qui serait top c'est que quand on clique sur une cavité d'un réseau
la page s'ouvre dans un autre onglet du navigateur (_blank en html).
Ainsi on garderait la page du réseau ouverte pour pouvoir y revenir plus
facilement sans avoir besoin de jouer avec le cache du navigateur.

Domi

[2022-08-02 12:15] #496 closed, assigned to clemsix6, YohanHATOT

[2022-08-02 12:15] #661 closed, assigned to clemsix6

[2022-08-02 13:07] urien opened #679 "[Entrance show] Adjust the size of the name according to its length"
**Is your feature request related to a problem? Please describe.**
La fiche https://grottocenter.org/ui/entrances/6224 est un exemple d'affichage insatisfaisant dû à un nom d'entrée long.
Or, lorsque le nom d'une entrée est long (et/ou possède plusieurs alias ou variantes), son affichage occupe la plus grande partie du cadre central (= cadre de gauche si on fait disparaître le menu). En conséquenc

[2022-08-04 05:30] urien opened #681 "[MAP] Add Basemaps"
Pour les utilisateurs il serait très utile de disposer de davantage de fonds de carte.

Les utilisateurs français nous réclament en particulier l'accès aux fond de carte IGN : SCAN 25, fond de carte géologique
Les modalités sont décrites ici
https://geoservices.ign.fr/documentation/services/utilisation-web/extension-pour-leaflet

D'autres fond de carte sont présentés ici
https://leaflet-extras.git

[2022-08-04 05:31] urien commented on #681
Il serait possible d'en profiter pour traiter également ce ticket https://github.com/GrottoCenter/grottocenter-front/issues/389

[2022-08-04 05:39] Souterweb commented on #681
Le 04/08/2022 à 07:31, Urien a écrit :

Oh oui ce serait bien !

Domi

[2022-08-04 05:43] urien opened #682 "[MESSAGES] Exchange messages without exposing users' email"
**Is your feature request related to a problem? Please describe.**
It's often necessary to contact people who have explored a cave, especially if the location of this cave is not accessible. To protect the personal data of users, this exchange of messages must be done without displaying the email address.

**Describe the solution you'd like**

### Messages / notifications page

Page URL:
`/ui/mess

[2022-08-04 12:48] #437 closed, assigned to clemsix6, YohanHATOT

[2022-08-05 09:31] #342 closed, assigned to jodiecottave

[2022-08-05 12:32] urien opened #683 "[ENTRANCE PAGE] Create Edit Comments"
**Is your feature request related to a problem? Please describe.**
Actuellement il est possible de visualiser les commentaires qui ont été saisis dans la version 2 de Grottocenter.
Il est nécessaire de permettre à tous les utilisateurs de créer des commentaires.
L'édition des commentaires ne doit être possible que par l'utilisateur qui les a créés ou par un administrateur.
Il faudra mettre des tex

[2022-08-05 13:54] urien opened #689 "[DOCUMENT edit create] Impossible to create a new organization"
**Describe the bug**
Depuis le formulaire de création et d'édition d'un document il est normalement possible de créer une organisation si elle n'existe pas déjà.
Cela ne fonctionne plus.

Cela vient sans doute des modifications réalisées sur les apis suite à la mise en place des fonctionnalités permettant de créer et d'éditer les organisations comme entités indépendantes.

Il est possible que la f

[2022-08-05 20:27] Clm-Roig commented on #689
Après avoir testé sur la prod, j'ai bien pu créer une organisation mais son nom est vide.

C'est un souci côté front, on n'envoie pas les données au bon format. Je transfère sur l'autre repo.

[2022-08-05 20:38] Clm-Roig commented on #689
Fixé par [42ab37d](https://github.com/GrottoCenter/grottocenter-front/commit/42ab37d69a78fdc4f5dae287193fc65abf86c413), je ferme.

Je n'ai pas testé pour les auteurs mais vu le code, ça doit marcher. Il y avait un souci avec les organisations parce qu'elles utilisent un name "traduisible" qu'on stocke à part dans une table de la BD. Le nom d'un auteur ne demande pas ça, on le passe directement com

[2022-08-05 20:38] #689 closed, assigned to Clm-Roig

[2022-08-06 11:33] urien opened #690 "[Entrance Create] impossible to create an entrance"
**Describe the bug**
Comme utilisateur, lorsqu'on souhaite créer une entrée, la requete n'aboutit pas et on a un message "bad request"

![image](https://user-images.githubusercontent.com/1165144/183247113-e0bada5a-b849-46b0-80d8-1412ad49e88e.png)

Cela a été raporté par dlap et j'ai eu le même résultat avec l'utilisateur fredericurien@gmail.com

[2022-08-06 21:36] Clm-Roig commented on #690
Ce n'est pas indiqué dans l'interface mais la profondeur et la longueur doivent être des entiers.

[2022-08-07 08:02] #690 closed, assigned to nobody

[2022-08-08 07:32] urien opened #708 "[Entrance create] display error on integer cave depth or length creation"
**Describe the bug**
Désormais on a un message indiquant que la profondeur et le développement doivent être des entiers si ce n'est pas le cas. Mais si ce sont des entiers on a le même message

![image](https://user-images.githubusercontent.com/1165144/183364010-8f525284-4fb5-499c-bc2f-9f373cc2b6fd.png)

[2022-08-08 13:58] #708 closed, assigned to Clm-Roig

[2022-08-10 05:33] urien opened #712 "[CAVE Show] impossible to show the cave page if entrance is "sensible""
**Describe the bug**
pour une entrée sensible, par exemple https://grottocenter.org/ui/entrances/6074
Si on clique sur le lien de la cavité https://grottocenter.org/ui/caves/6074
On arrive sur une page blanche

[2022-08-11 07:01] Clm-Roig commented on #712
Erreur de React :
![image](https://user-images.githubusercontent.com/20704943/184080180-b3621ce5-7e7b-4404-b8aa-ce37adc13dbb.png)

J'imagine que l'entrance sensible étant vidée de ses coordonnées, on ne peut pas obtenir la longitude et la latitude.

Il faut donc corriger ce problème et revoir l'affichage de la carte de la cave pour y mettre un message qui dit quelque chose du genre "certaines entr

[2022-08-11 07:28] urien commented on #712
Effectivement il faudrait faire sur la page des caves concernées quelque chose qui s'inspire de ce qui existe pour les entry

[2022-08-11 07:52] Clm-Roig commented on #682
Première maquette :
![chat GC](https://user-images.githubusercontent.com/20704943/184088233-9685475e-d884-4d61-8967-2692ccde594a.png)

Ça n'apparaît pas sur la maquette mais les conversations seront évidemment triées par ordre chronologique du dernier message échangé.

[2022-08-11 12:16] urien commented on #682
C'est très bien. Peut être mettre en évidence à gauche la conversation qui est présentée à droite

[2022-08-11 12:50] Clm-Roig commented on #682
C'est le cas : elle a le même arrière-plan gris que la discussion à droite. Je pourrais faire ça plus évident si tu veux.

[2022-08-11 12:51] urien commented on #682
Ok, effectivement c'est parfait ainsi

[2022-08-12 11:06] urien commented on #405
Example https://grottocenter.org/ui/entrances/45

[2022-08-17 20:09] #712 closed, assigned to nobody

[2022-08-18 06:14] urien opened #720 "[Entrance Cave show] The entrance(s) is(are) no longer displayed on the map"
**Describe the bug**
The entrance is no longer displayed on the map
![image](https://user-images.githubusercontent.com/1165144/185307050-4ccf758e-d788-4a12-b705-08abc5ec90f0.png)
this is also the case for the caves
![image](https://user-images.githubusercontent.com/1165144/185307197-cabf52f3-a5cb-4cb9-9d85-b66672fb005e.png)

[2022-08-18 06:21] urien opened #721 "[ENTRANCE - CAVE show] Improve the display of basic information"
**Is your feature request related to a problem? Please describe.**
Actuellement l'affichage du développement et de la profondeur quand il n'y a pas de valeur est assuré par un o, sur la page des cavités et des entrées
![image](https://user-images.githubusercontent.com/1165144/185307670-46feb219-2703-4f2f-a29f-cf96f670ac76.png)

Il faudrait remplacer ce o par le picto suivi de la mention "unknow",

[2022-08-20 05:26] urien opened #724 "[LOCATION DESCRIPTION HISTORIQUE COMMENTAIRE RIGGINGS] Delete"
**Is your feature request related to a problem? Please describe.**
Quand une localisation, une description, un historique, un commentaire, une fiche d'équipement a été créée à des fins de test, de spam ou suite à une erreur, il n'est pas possible de la supprimer

**Describe the solution you'd like**
Ajout d'un bouton "supprimer" visible uniquement par les administrateurs et les modérateurs.
Ajout

[2022-08-20 06:21] Clm-Roig commented on #720
Peut-être lié à #719

[2022-08-20 06:24] urien commented on #720
Effectivement je l'ai repéré après

[2022-08-22 16:49] Clm-Roig commented on #724
Je pense que c'est une feature "à part" de cette issue et qui va demander un peu de réflexion :
- Pour les utilisateurs => l'API peut ne pas leur renvoyer les "isDeleted" directement, donc rien à changer côté front
- Pour les admins => est-ce qu'ils doivent pouvoir voir ces contributions ? Autant les leur cacher non ? Ou sinon il faut qu'elles soient affichées différemment.

Tu peux copier / colle

[2022-08-23 20:18] urien commented on #724
Du coup, il n'y a rien à faire si les localisations supprimées ne sont pas visibles par les utilisateurs

[2022-08-27 04:16] urien opened #728 "[HOME PAGE partner links] change URL with local link"
**Is your feature request related to a problem? Please describe.**
Le lien qui est utilisé lorsqu'on clique sur l'icone d'un partenaire en page d'accueil est le lien qui est indiqué dans le champ custom message. Ce n'est plus adapté car désormais nous avons un champ URL. Mais même ce champ peut contenir des informations fausses

**Describe the solution you'd like**
Le clic sur l'icone représentant

[2022-08-30 08:16] #720 closed, assigned to Clm-Roig

[2022-08-31 11:48] #648 closed, assigned to YohanHATOT

[2022-09-10 05:50] urien opened #737 "[ADMIN DASHBOARD] user dashboard do'nt word"
**Describe the bug**
Comme administrateur l'affichage de la liste des administrateurs, leaders, modérateurs n'aboutit pas

**To Reproduce**
Steps to reproduce the behavior:

Se connecter comme administrateur
Cliquer sur dashboard / manage user

**Screenshots**
![image](https://user-images.githubusercontent.com/1165144/189471088-65fad597-8fca-4929-ad66-732deccd4787.png)

**Desktop (please complete

[2022-09-10 07:22] urien opened #740 "[ORGANIZATION EDIT] Don't work"
**Describe the bug**
Il n'est plus possible déditer une organisation > Page blanche

**To Reproduce**
par exemple https://grottocenter.org/ui/organizations/62/edit

1. Go to 'https://grottocenter.org/ui/organizations/62'
2. Click on 'Edit Button'
3. See white page

[2022-09-10 20:25] Clm-Roig commented on #737
Ça marche chez moi. Tu as peut-être essayé à un moment où un déploiement était en cours ?

[2022-09-10 20:25] Clm-Roig commented on #740
Problème de front plutôt que d'API je pense : je change l'issue de repo. Je regarde demain.

[2022-09-11 05:32] urien commented on #737
Ok, c'était sans doute cela

[2022-09-11 05:32] #737 closed, assigned to nobody

[2022-09-11 16:48] #740 closed, assigned to Clm-Roig

[2022-09-13 10:59] #481 closed, assigned to Clm-Roig

[2022-09-15 13:29] urien opened #744 "[Document Create edit] document language don't work"
**Describe the bug**
Quand je déclare une langue dans un document (obligatoire) cette langue n'est pas enregistrée

**To Reproduce**
Editer un document existant, indiquer une langue pour ce document valider
Quand on visualise le document la langue déclarée est unknow

[2022-09-21 21:40] Clm-Roig commented on #389
C'est un bug très étrange qu'on a là... Sur le papier la carte gère bien les deux cas, le code est bon. Mais pour je ne sais quelle raison, il n'y a pas écrasement de l'ancienne **width** par la nouvelle valeur quand le menu est fermé. C'est très bizarre.

Le bout de code en question (testé et vérifié : on rentre bien dans le deuxième cas quand le menu se ferme) :

[code]

[2022-09-22 06:35] #728 closed, assigned to nobody

[2022-09-22 07:55] #25 closed

[2022-09-25 21:14] #480 closed, assigned to Clm-Roig

[2022-09-26 15:14] urien opened #750 "[Massif edit] problem with the polygon"
**Describe the bug**
Quand je souhaite éditer un massif qui a déjà un polygone de défini
https://grottocenter.org/ui/massifs/586/edit
Le polygone déjà en place n'est pas conservé. Quand je le retrace il disparait à l'étape vérification des données

[2022-09-27 06:52] Souterweb commented on #750
Et moi je n'arrive pas à définir un polygone pour limiter un massif qui n'en a pas encore. Je le trace mais il ne s'enregistre pas au moment de passer à l'étape suivante (vérification des données). Je pense que c'est une variante du même souci.

[2022-09-29 14:58] urien commented on #750
Work on Api resolve this problem

[2022-09-29 16:35] urien commented on #750
En fait le problème est réglé pour la création d'un massif mais pas pour l'édition

[2022-09-30 08:16] Clm-Roig commented on #750
Je viens d'essayer de faire ça : ça plante "visuellement" mais le nouveau polygone est bien sauvé en base de données. Un retour sur la page du massif le prouve.

[2022-09-30 09:51] urien commented on #750
Ok, je regarde dès que possible

[2022-09-30 17:44] #750 closed, assigned to nobody

[2022-09-30 19:28] Souterweb opened #753 "Massif description / Description d'un massif"
When entering data on a massif, the description was recorded 3 times identically in three aborted attempts before final validation.
How could this happen?
What can be done to delete the two unnecessary description texts (editing does not seem to allow this)?

https://grottocenter.org/ui/massifs/8

Lors de la saisie des données sur un massif, la description a été enregistrée 3 fois à l'identique lo

[2022-10-01 15:31] #45 closed

[2022-10-02 16:18] Clm-Roig commented on #753
Normalement c'est corrigé par #752. Il y avait un souci dans l'édition de massif qui la faisait planter visuellement mais pas dans la base de données : la création des descriptions a, à chaque fois, bien eu lieu.

Il n'est pour l'instant pas possible de supprimer des descriptions (ou autres infos), mais je pense que c'est quelque chose qui va arriver à court terme...

Je ferme pour l'instant étant

[2022-10-02 16:18] #753 closed, assigned to nobody

[2022-10-02 16:20] Clm-Roig commented on #753
Je supprime manuellement les deux descriptions doublons directement dans la base de données.

[2022-10-16 22:35] #389 closed, assigned to nobody

[2022-10-23 22:24] #683 closed, assigned to clemsix6, YohanHATOT

[2022-11-09 00:10] #405 closed, assigned to bsoufflet, clemsix6, YohanHATOT

[2022-11-11 12:02] urien opened #760 "[ENTANCE VIEW] Entrance 37505 is not visible"
**Describe the bug**
Lorsqu'on demande à afficher https://grottocenter.org/ui/entrances/37505
on obtient une page blanche.
Dans la console on observe

TypeError: t.author is undefined

Est ce que cela viendrait du fait qu'on a supprimé les comptes qui n'ont pas été validés sur la V2 ? Et que sur cette version les personnes aient pu contribuer même si elles n'avaient pas validé leur compte ?

[2022-11-11 12:27] Souterweb commented on #760
Le 11/11/2022 à 13:02, Frédéric Urien a écrit :

C'est bizarre parce que je l'ai eu il n'y a pas si longtemps cette
fiche; j'avais même ajouté un document (photographie).

Domi

[2022-11-13 16:50] urien opened #761 "[CONNEXION] My password is not accepted"
**Describe the bug**
I tried to log into GrottoCenter but my password is not accepted. A password recovery indicates that my e-mail address is not known and creating an account with the same address is refused as it would already exist.
Can you please check what is going on here? The address I use to log in is: [harold.van.ingen@isb.nl](mailto:harold.van.ingen@isb.nl)

**To Reproduce**
use this ac

[2022-11-13 16:54] urien commented on #761
I did a test and sending email seems to work. I'm waiting for the confirmation

[2022-11-13 17:41] urien commented on #761
Fixed issue: email is case sensitive

[2022-11-13 17:41] #761 closed, assigned to nobody

[2022-11-15 09:22] Clm-Roig commented on #23
Working on this today!

[2022-11-18 15:01] BTHOM opened #764 "Ajouter un lien dans le menu principal de GCV3 vers le wiki de Grottocenter"
**Is your feature request related to a problem? Please describe.**
Il n'est pas facile d'aller vers le wiki Grottocenter depuis le site GC V3. Quelques liens peu explicites se trouvent tout en bas de la page d'accueil. Aucun lien n'est disponible sur les fiches "cavité" ou "entrée".

**Describe the solution you'd like**
Créer des liens explicites vers le Wiki de Grottocenter; notamment vers la pag

[2022-11-19 23:26] #760 closed, assigned to vmarseguerra

[2022-11-22 07:15] urien commented on #306
Done, except for the additional map enlargement functionality which will have to be the subject of a specific ticket

[2022-11-22 07:15] #306 closed, assigned to clemsix6, YohanHATOT

[2022-11-22 07:28] urien opened #767 "[NETWORK show create edit] Add detailled informations"
**Is your feature request related to a problem? Please describe.**
Actuellement il est possible de visualiser, créer et éditer des informations détaillées sur la page des entrées, il est nécessaire de pouvoir le faire sur la page de la cavité pour gérer les données relative à un réseau

**Describe the solution you'd like**
La fonctionnalité ne doit être active que pour les cavités qui disposent de

[2022-11-22 07:29] Souterweb commented on #306
Le 22/11/2022 à 08:15, Frédéric Urien a écrit :

En pensant à cette fonctionnalité...

Une autre possibilité serait que quand on est sur une page de cavité,
quand on clique sur "carte" dans le menu de gauche, celle-ci s'ouvre non
pas sur la carte du monde mais directement sur la carte centrée sur la
cavité en cours de consultation avec un niveau de zoom permettant de
voir les autres cavités autour

[2022-11-22 08:22] Souterweb opened #768 "Enlargement of the map centered on the current cavity (élargissement de la carte centrée sur la cavité en cours)"
In order to be able to see the cave in its karst environment, it would be necessary to enlarge the map insert of the cave page :

- either by clicking on it
- or with a specific button "enlarge the map".

This map would show the geographical area surrounding the current cavity and all the cavities surrounding it with an adapted zoom level.

A plus would be that there is a way to quickly distinguis

[2022-11-24 18:37] urien opened #769 "[ENTRANCE mask coordonates] unmark don't work"
**Describe the bug**
Un utilisateur peut masquer les coordonnées mais quand un administrateur souhaite redonner accès aux coordonnées
- Les coordonnées ne sont pas accessibles : il faut les ressaisir ce qui n'est pas possible
- Quand on valide la fiche la cavité reste avec des coordonnées masquées

**To Reproduce**
Masquer les coordonnées comme utilisateur, redonner accès aux coordonnées comme adm

[2022-11-24 23:22] Clm-Roig opened #770 "[ERRORS] Create an Error Boundary"
**Is your feature request related to a problem? Please describe.**
When an error is thrown, a white page is displayed. It's not user-friendly.

**Describe the solution you'd like**
In case of error, only the main content of the page (the most error-prone) should crash. An error message and a link to the app home should be displayed.

See React Error Boundaries : https://reactjs.org/docs/error-boun

[2022-11-25 10:12] urien commented on #769
Ce matin c'est rentré dans l'ordre.
Peut-etre qu'il y a un pb quand on masque puis démasque les coordonnées dans un délai trop court. Le pb relevé correspond à des tests faits sur https://grottocenter.org/ui/entrances/887

[2022-11-25 13:09] urien opened #771 "[ENTRANCE Show DOCUMENTS] Karst 3D Link"
**Is your feature request related to a problem? Please describe.**
Si La base de données Karst 3D dispose une topo concernant la cavité, il faudrait afficher un lien vers la fiche de cette cavité dans la liste des documents disponibles

**Describe the solution you'd like**
Voici, enfin, une méthode permettant d'interroger la base KARST3D à partir d'un identifiant GC :
https://data.oreme.org/karst3

[2022-11-30 11:53] #770 closed, assigned to Clm-Roig